openapi: 3.0.0
info:
  title: Fireblocks Whitelisted Wallets API
  description: 'Fireblocks provides a suite of applications to manage digital asset operations and a complete development
    platform to build your business on the blockchain.


    - Visit our website for more information: [Fireblocks Website](https://fireblocks.com)

    - Visit our developer docs: [Fireblocks DevPortal](https://developers.fireblocks.com)

    '
  version: 1.8.0
  contact:
    email: developers@fireblocks.com
servers:
- url: https://api.fireblocks.io/v1
  description: Fireblocks Production Environment Base URL
- url: https://sandbox-api.fireblocks.io/v1
  description: Fireblocks Sandbox Environment Base URL
security: []
paths:
  /internal_wallets:
    get:
      summary: List internal wallets
      tags:
      - Whitelisted Internal Wallets
      description: "Gets a list of internal wallets.\n**Note**: \n- BTC-based assets belonging to whitelisted addresses cannot\
        \ be retrieved between 00:00 UTC and 00:01 UTC daily due to third-party provider, Blockchain, being unavailable for\
        \ this 60 second period.  Please wait until the next minute to retrieve BTC-based assets.\n- The list of assets returned\
        \ will NOT include the balances anymore.\nInternal Wallets are whitelisted wallets that belong to you outside of Fireblocks.\n\
        - You can see the balance of the Internal Wallet via Fireblocks - You cannot initiate transactions from Internal Wallets\
        \ through Fireblocks\nLearn more about Whitelisted Internal Addresses [here](https://developers.fireblocks.com/docs/whitelist-addresses#internal-wallets)\n\
        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.\n"
      responses:
        '200':
          description: A list of internal wallets
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInternalWalletsResponse'
        default:
          $ref: '#/components/responses/Error'
      operationId: getInternalWallets
      x-readme:
        code-samples:
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<GetInternalWalletsResponse>> = fireblocks.internalWallets.getInternalWallets();'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<List<UnmanagedWallet>>> response = fireblocks.internalWallets().getInternalWallets();
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.internal_wallets.get_internal_wallets();
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<GetInternalWalletsResponse>> = fireblocks.internalWallets.getInternalWallets();'
      - lang: Java
        source: CompletableFuture<ApiResponse<List<UnmanagedWallet>>> response = fireblocks.internalWallets().getInternalWallets();
      - lang: Python
        source: response = fireblocks.internal_wallets.get_internal_wallets();
    post:
      summary: Create an internal wallet
      tags:
      - Whitelisted Internal Wallets
      x-readme:
        code-samples:
        - language: javascript
          code: const internalWallet = await fireblocks.createInternalWallet(name, customerRefId);
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<UnmanagedWallet>> = fireblocks.internalWallets.createInternalWallet(internalWalletsApiCreateInternalWalletRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<UnmanagedWallet>> response = fireblocks.internalWallets().createInternalWallet(createWalletRequest,
            idempotencyKey);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.internal_wallets.create_internal_wallet(create_wallet_request, idempotency_key);
          name: Fireblocks SDK Python example
      description: 'Creates a new internal wallet with the requested name.

        Learn more about Whitelisted Internal Addresses [here](https://developers.fireblocks.com/docs/whitelist-addresses#internal-wallets)

        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor.'
      parameters:
      - $ref: '#/components/parameters/X-Idempotency-Key'
      responses:
        '200':
          description: A new wallet object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnmanagedWallet'
        default:
          $ref: '#/components/responses/Error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWalletRequest'
      operationId: createInternalWallet
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<UnmanagedWallet>> = fireblocks.internalWallets.createInternalWallet(internalWalletsApiCreateInternalWalletRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<UnmanagedWallet>> response = fireblocks.internalWallets().createInternalWallet(createWalletRequest,
          idempotencyKey);
      - lang: Python
        source: response = fireblocks.internal_wallets.create_internal_wallet(create_wallet_request, idempotency_key);
  /internal_wallets/{walletId}:
    get:
      summary: Get assets for internal wallet
      tags:
      - Whitelisted Internal Wallets
      x-readme:
        code-samples:
        - language: python
          code: internalWallet = fireblocks.get_internal_wallet(walletId)
          name: Fireblocks SDK Python example
        - language: javascript
          code: const result = await fireblocks.getInternalWallet(walletId);
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<UnmanagedWallet>> = fireblocks.whitelistedInternalWallets.getInternalWallet(whitelistedInternalWalletsApiGetInternalWalletRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<UnmanagedWallet>> response = fireblocks.whitelistedInternalWallets().getInternalWallet(walletId);
          name: Fireblocks SDK Java example
      description: '**This endpoint will be deprecated on December 31, 2025. Currently, the endpoint will only return a wallet''s
        addresses and not any balances.**


        Retrieves information about all the assets in an internal wallet, which is a wallet owned by you outside of your Fireblocks
        workspace. Please note that you cannot initiate transactions through Fireblocks using an internal wallet.


        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.'
      parameters:
      - in: path
        name: walletId
        required: true
        description: The ID of the wallet to return
        schema:
          type: string
      responses:
        '200':
          description: A Wallet object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnmanagedWallet'
        default:
          $ref: '#/components/responses/Error'
      operationId: getInternalWallet
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<UnmanagedWallet>> = fireblocks.internalWallets.getInternalWallet(internalWalletsApiGetInternalWalletRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<UnmanagedWallet>> response = fireblocks.internalWallets().getInternalWallet(walletId);
      - lang: Python
        source: response = fireblocks.internal_wallets.get_internal_wallet(wallet_id);
    delete:
      summary: Delete an internal wallet
      tags:
      - Whitelisted Internal Wallets
      x-readme:
        code-samples:
        - language: javascript
          code: const result = await fireblocks.deleteInternalWallet(walletId);
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<void>> = fireblocks.internalWallets.deleteInternalWallet(internalWalletsApiDeleteInternalWalletRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<Void>> response = fireblocks.internalWallets().deleteInternalWallet(walletId);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.internal_wallets.delete_internal_wallet(wallet_id);
          name: Fireblocks SDK Python example
      description: "Deletes an internal wallet by ID.\n\nInternal Wallets are whitelisted wallets that belong to you outside\
        \ of Fireblocks.\n\n  - You can see the balance of the Internal Wallet via Fireblocks\n  - You cannot initiate transactions\
        \ from Internal Wallets through Fireblocks\n\n</br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver,\
        \ Editor."
      parameters:
      - in: path
        name: walletId
        required: true
        description: The ID of the wallet to delete
        schema:
          type: string
      responses:
        '201':
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          $ref: '#/components/responses/Error'
      operationId: deleteInternalWallet
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<void>> = fireblocks.internalWallets.deleteInternalWallet(internalWalletsApiDeleteInternalWalletRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<Void>> response = fireblocks.internalWallets().deleteInternalWallet(walletId);
      - lang: Python
        source: response = fireblocks.internal_wallets.delete_internal_wallet(wallet_id);
  /internal_wallets/{walletId}/assets:
    get:
      summary: List assets in an internal wallet (Paginated)
      description: "Returns a paginated response of assets in an internal wallet.\n\nThis is a new paginated endpoint that\
        \ gets all the assets from the wallet container with balances. </br>This endpoint returns a limited amount of results\
        \ with a quick response time.\n\nInternal Wallets are whitelisted wallets that belong to you outside of Fireblocks.\n\
        \n  - You can see the balance of the Internal Wallet via Fireblocks\n  - You cannot initiate transactions from Internal\
        \ Wallets through Fireblocks\n\nLearn more about Whitelisted Internal Addresses [here](https://developers.fireblocks.com/docs/whitelist-addresses#internal-wallets)\n\
        \nEndpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer."
      tags:
      - Whitelisted Internal Wallets
      x-readme:
        code-samples:
        - language: python
          code: internalWalletAssets = fireblocks.get_internal_wallet_assets(walletId, pageSize, pageCursor)
          name: Fireblocks SDK Python example (Legacy)
        - language: javascript
          code: const internalWalletAssets = fireblocks.getInternalWalletAssets(walletId, pageSize, pageCursor);
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<PaginatedAssetsResponse>> = fireblocks.internalWallets.getInternalWalletAssetsPaginated(internalWalletsApiGetInternalWalletAssetsPaginatedRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<PaginatedAssetsResponse>> response = fireblocks.internalWallets().getInternalWalletAssetsPaginated(walletId,
            pageSize, pageCursor);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.internal_wallets.get_internal_wallet_assets_paginated(wallet_id, page_size, page_cursor);
          name: Fireblocks SDK Python example
      parameters:
      - in: path
        name: walletId
        required: true
        description: The ID of the internal wallet to return assets for
        schema:
          type: string
      - in: query
        name: pageSize
        required: false
        schema:
          description: Number of assets to return per page
          minimum: 1
          maximum: 200
          default: 50
          type: number
        example: 10
      - in: query
        name: pageCursor
        required: false
        schema:
          type: string
          description: Cursor for pagination
      responses:
        '200':
          description: A paginated response of assets for the internal wallet
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAssetsResponse'
        default:
          $ref: '#/components/responses/Error'
      operationId: getInternalWalletAssetsPaginated
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<PaginatedAssetsResponse>> = fireblocks.internalWallets.getInternalWalletAssetsPaginated(internalWalletsApiGetInternalWalletAssetsPaginatedRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<PaginatedAssetsResponse>> response = fireblocks.internalWallets().getInternalWalletAssetsPaginated(walletId,
          pageSize, pageCursor);
      - lang: Python
        source: response = fireblocks.internal_wallets.get_internal_wallet_assets_paginated(wallet_id, page_size, page_cursor);
  /internal_wallets/{walletId}/set_customer_ref_id:
    post:
      summary: Set an AML/KYT customer reference ID for internal wallet
      tags:
      - Whitelisted Internal Wallets
      x-readme:
        code-samples:
        - language: javascript
          code: const result = await fireblocks.setCustomerRefIdForInternalWallet(walletId, customerRefId);
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<void>> = fireblocks.internalWallets.setCustomerRefIdForInternalWallet(internalWalletsApiSetCustomerRefIdForInternalWalletRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<Void>> response = fireblocks.internalWallets().setCustomerRefIdForInternalWallet(setCustomerRefIdRequest,
            walletId, idempotencyKey);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.internal_wallets.set_customer_ref_id_for_internal_wallet(set_customer_ref_id_request,
            wallet_id, idempotency_key);
          name: Fireblocks SDK Python example
      description: "Sets an AML/KYT customer reference ID for the specific internal wallet.\n\nInternal Wallets are whitelisted\
        \ wallets that belong to you outside of Fireblocks.\n\n  - You can see the balance of the Internal Wallet via Fireblocks\n\
        \  - You cannot initiate transactions from Internal Wallets through Fireblocks\n\n  Learn more about Whitelisted Internal\
        \ Addresses\n[here](https://developers.fireblocks.com/docs/whitelist-addresses#internal-wallets)\n</br>Endpoint Permission:\
        \ Admin, Non-Signing Admin, Signer, Approver, Editor."
      parameters:
      - in: path
        name: walletId
        required: true
        description: The wallet ID
        schema:
          type: string
      - $ref: '#/components/parameters/X-Idempotency-Key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetCustomerRefIdRequest'
      responses:
        '201':
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          $ref: '#/components/responses/Error'
      operationId: setCustomerRefIdForInternalWallet
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<void>> = fireblocks.internalWallets.setCustomerRefIdForInternalWallet(internalWalletsApiSetCustomerRefIdForInternalWalletRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<Void>> response = fireblocks.internalWallets().setCustomerRefIdForInternalWallet(setCustomerRefIdRequest,
          walletId, idempotencyKey);
      - lang: Python
        source: response = fireblocks.internal_wallets.set_customer_ref_id_for_internal_wallet(set_customer_ref_id_request,
          wallet_id, idempotency_key);
  /internal_wallets/{walletId}/{assetId}:
    get:
      summary: Get an asset from an internal wallet
      tags:
      - Whitelisted Internal Wallets
      x-readme:
        code-samples:
        - language: javascript
          code: const internalWalletAsset = fireblocks.getInternalWalletAsset(walletId, assetId);
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<WalletAsset>> = fireblocks.internalWallets.getInternalWalletAsset(internalWalletsApiGetInternalWalletAssetRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<WalletAsset>> response = fireblocks.internalWallets().getInternalWalletAsset(walletId,
            assetId);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.internal_wallets.get_internal_wallet_asset(wallet_id, asset_id);
          name: Fireblocks SDK Python example
      description: "Returns information for an asset in an internal wallet.\n\nInternal Wallets are whitelisted wallets that\
        \ belong to you outside of Fireblocks.\n\n  - You can see the balance of the Internal Wallet via Fireblocks\n  - You\
        \ cannot initiate transactions from Internal Wallets through Fireblocks\n\n</br>Endpoint Permission: Admin, Non-Signing\
        \ Admin, Signer, Approver, Editor, Viewer."
      parameters:
      - in: path
        name: walletId
        required: true
        description: The ID of the wallet
        schema:
          type: string
      - in: path
        name: assetId
        required: true
        description: The ID of the asset to return
        schema:
          type: string
          x-fb-entity: asset
      responses:
        '200':
          description: A Wallet Asset object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletAsset'
        default:
          $ref: '#/components/responses/Error'
      operationId: getInternalWalletAsset
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<WalletAsset>> = fireblocks.internalWallets.getInternalWalletAsset(internalWalletsApiGetInternalWalletAssetRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<WalletAsset>> response = fireblocks.internalWallets().getInternalWalletAsset(walletId,
          assetId);
      - lang: Python
        source: response = fireblocks.internal_wallets.get_internal_wallet_asset(wallet_id, asset_id);
    post:
      summary: Add an asset to an internal wallet
      tags:
      - Whitelisted Internal Wallets
      x-readme:
        code-samples:
        - language: javascript
          code: const internalWalletAsset = await fireblocks.createInternalWalletAsset(walletContainerId, assetId, address,
            tag);
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<WalletAsset>> = fireblocks.internalWallets.createInternalWalletAsset(internalWalletsApiCreateInternalWalletAssetRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<WalletAsset>> response = fireblocks.internalWallets().createInternalWalletAsset(walletId,
            assetId, createInternalWalletAssetRequest, idempotencyKey);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.internal_wallets.create_internal_wallet_asset(wallet_id, asset_id, create_internal_wallet_asset_request,
            idempotency_key);
          name: Fireblocks SDK Python example
      description: "Adds an asset to an existing internal wallet.\n\nInternal Wallets are whitelisted wallets that belong\
        \ to you outside of Fireblocks.\n\n  - You can see the balance of the Internal Wallet via Fireblocks\n  - You cannot\
        \ initiate transactions from Internal Wallets through Fireblocks\n\n  Learn more about Whitelisted Internal Addresses\n\
        [here](https://developers.fireblocks.com/docs/whitelist-addresses#internal-wallets)\n</br>Endpoint Permission: Admin,\
        \ Non-Signing Admin, Signer, Approver, Editor."
      parameters:
      - in: path
        name: walletId
        required: true
        description: The ID of the wallet
        schema:
          type: string
      - in: path
        name: assetId
        required: true
        description: The ID of the asset to add
        schema:
          type: string
          x-fb-entity: asset
      - $ref: '#/components/parameters/X-Idempotency-Key'
      responses:
        '200':
          description: A Wallet Asset object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletAsset'
        default:
          $ref: '#/components/responses/Error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInternalWalletAssetRequest'
      operationId: createInternalWalletAsset
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<WalletAsset>> = fireblocks.internalWallets.createInternalWalletAsset(internalWalletsApiCreateInternalWalletAssetRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<WalletAsset>> response = fireblocks.internalWallets().createInternalWalletAsset(walletId,
          assetId, createInternalWalletAssetRequest, idempotencyKey);
      - lang: Python
        source: response = fireblocks.internal_wallets.create_internal_wallet_asset(wallet_id, asset_id, create_internal_wallet_asset_request,
          idempotency_key);
    delete:
      summary: Delete a whitelisted address
      tags:
      - Whitelisted Internal Wallets
      x-readme:
        code-samples:
        - language: javascript
          code: const result = await fireblocks.deleteInternalWalletAsset(walletId, assetId);
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<void>> = fireblocks.internalWallets.deleteInternalWalletAsset(internalWalletsApiDeleteInternalWalletAssetRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<Void>> response = fireblocks.internalWallets().deleteInternalWalletAsset(walletId,
            assetId);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.internal_wallets.delete_internal_wallet_asset(wallet_id, asset_id);
          name: Fireblocks SDK Python example
      description: "Deletes a whitelisted address (for an asset) from an internal wallet.\n\nInternal Wallets are whitelisted\
        \ wallets that belong to you outside of Fireblocks.\n\n  - You can see the balance of the Internal Wallet via Fireblocks\n\
        \  - You cannot initiate transactions from Internal Wallets through Fireblocks\n\n</br>Endpoint Permission: Admin,\
        \ Non-Signing Admin, Signer, Approver, Editor."
      parameters:
      - in: path
        name: walletId
        required: true
        description: The ID of the wallet
        schema:
          type: string
      - in: path
        name: assetId
        required: true
        description: The ID of the asset to delete
        schema:
          type: string
          x-fb-entity: asset
      responses:
        '201':
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          $ref: '#/components/responses/Error'
      operationId: deleteInternalWalletAsset
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<void>> = fireblocks.internalWallets.deleteInternalWalletAsset(internalWalletsApiDeleteInternalWalletAssetRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<Void>> response = fireblocks.internalWallets().deleteInternalWalletAsset(walletId,
          assetId);
      - lang: Python
        source: response = fireblocks.internal_wallets.delete_internal_wallet_asset(wallet_id, asset_id);
  /external_wallets:
    get:
      summary: List external wallets
      description: 'Gets a list of external wallets under the workspace.


        External Wallet is a whitelisted address of a wallet that belongs to your users/counterparties.


        - You cannot see the balance of the external wallet.

        - You cannot initiate transactions from an external wallet as the source via Fireblocks.

        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.'
      tags:
      - Whitelisted External Wallets
      x-readme:
        code-samples:
        - language: javascript
          code: const externalWallets = await fireblocks.getExternalWallets();
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<GetExternalWalletsResponse>> = fireblocks.externalWallets.getExternalWallets();'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<List<UnmanagedWallet>>> response = fireblocks.externalWallets().getExternalWallets();
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.external_wallets.get_external_wallets();
          name: Fireblocks SDK Python example
      responses:
        '200':
          description: A list of external wallets
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetExternalWalletsResponse'
        default:
          $ref: '#/components/responses/Error'
      operationId: getExternalWallets
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<GetExternalWalletsResponse>> = fireblocks.externalWallets.getExternalWallets();'
      - lang: Java
        source: CompletableFuture<ApiResponse<List<UnmanagedWallet>>> response = fireblocks.externalWallets().getExternalWallets();
      - lang: Python
        source: response = fireblocks.external_wallets.get_external_wallets();
    post:
      summary: Create an external wallet
      description: 'Creates a new external wallet with the requested name.


        External Wallet is a whitelisted address of a wallet that belongs to your users/counterparties.


        - You cannot see the balance of the external wallet.

        - You cannot initiate transactions from an external wallet as the source via Fireblocks.

        Learn more about Whitelisted External Wallet Addresses [here](https://developers.fireblocks.com/docs/whitelist-addresses#external-wallets).

        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor.'
      tags:
      - Whitelisted External Wallets
      x-readme:
        code-samples:
        - language: javascript
          code: const externalWallet = await fireblocks.createExternalWallet(name, customerRefId);
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<UnmanagedWallet>> = fireblocks.externalWallets.createExternalWallet(externalWalletsApiCreateExternalWalletRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<UnmanagedWallet>> response = fireblocks.externalWallets().createExternalWallet(createWalletRequest,
            idempotencyKey);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.external_wallets.create_external_wallet(create_wallet_request, idempotency_key);
          name: Fireblocks SDK Python example
      parameters:
      - $ref: '#/components/parameters/X-Idempotency-Key'
      responses:
        '200':
          description: A Wallet object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnmanagedWallet'
        default:
          $ref: '#/components/responses/Error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWalletRequest'
      operationId: createExternalWallet
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<UnmanagedWallet>> = fireblocks.externalWallets.createExternalWallet(externalWalletsApiCreateExternalWalletRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<UnmanagedWallet>> response = fireblocks.externalWallets().createExternalWallet(createWalletRequest,
          idempotencyKey);
      - lang: Python
        source: response = fireblocks.external_wallets.create_external_wallet(create_wallet_request, idempotency_key);
  /external_wallets/{walletId}:
    get:
      summary: Find an external wallet
      description: 'Returns an external wallet by ID.


        External Wallet is a whitelisted address of a wallet that belongs to your users/counterparties.


        - You cannot see the balance of the external wallet.

        - You cannot initiate transactions from an external wallet as the source via Fireblocks.

        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.'
      tags:
      - Whitelisted External Wallets
      x-readme:
        code-samples:
        - language: javascript
          code: const externalWallet = await fireblocks.getExternalWallet(walletId);
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<UnmanagedWallet>> = fireblocks.externalWallets.getExternalWallet(externalWalletsApiGetExternalWalletRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<UnmanagedWallet>> response = fireblocks.externalWallets().getExternalWallet(walletId);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.external_wallets.get_external_wallet(wallet_id);
          name: Fireblocks SDK Python example
      parameters:
      - in: path
        name: walletId
        required: true
        description: The ID of the wallet to return
        schema:
          type: string
      responses:
        '200':
          description: A Wallet object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnmanagedWallet'
        default:
          $ref: '#/components/responses/Error'
      operationId: getExternalWallet
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<UnmanagedWallet>> = fireblocks.externalWallets.getExternalWallet(externalWalletsApiGetExternalWalletRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<UnmanagedWallet>> response = fireblocks.externalWallets().getExternalWallet(walletId);
      - lang: Python
        source: response = fireblocks.external_wallets.get_external_wallet(wallet_id);
    delete:
      summary: Delete an external wallet
      description: 'Deletes an external wallet by ID.


        External Wallet is a whitelisted address of a wallet that belongs to your users/counterparties.


        - You cannot see the balance of the external wallet.

        - You cannot initiate transactions from an external wallet as the source via Fireblocks.

        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor.'
      tags:
      - Whitelisted External Wallets
      x-readme:
        code-samples:
        - language: javascript
          code: const result = await fireblocks.deleteExternalWallet(walletId);
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<void>> = fireblocks.externalWallets.deleteExternalWallet(externalWalletsApiDeleteExternalWalletRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<Void>> response = fireblocks.externalWallets().deleteExternalWallet(walletId);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.external_wallets.delete_external_wallet(wallet_id);
          name: Fireblocks SDK Python example
      parameters:
      - in: path
        name: walletId
        required: true
        description: The ID of the wallet to delete
        schema:
          type: string
      responses:
        '201':
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          $ref: '#/components/responses/Error'
      operationId: deleteExternalWallet
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<void>> = fireblocks.externalWallets.deleteExternalWallet(externalWalletsApiDeleteExternalWalletRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<Void>> response = fireblocks.externalWallets().deleteExternalWallet(walletId);
      - lang: Python
        source: response = fireblocks.external_wallets.delete_external_wallet(wallet_id);
  /external_wallets/{walletId}/set_customer_ref_id:
    post:
      summary: Set an AML customer reference ID for an external wallet
      description: 'Sets an AML/KYT customer reference ID for the specific external wallet.


        External Wallet is a whitelisted address of a wallet that belongs to your users/counterparties.


        - You cannot see the balance of the external wallet.

        - You cannot initiate transactions from an external wallet as the source via Fireblocks.

        Learn more about Whitelisted External Wallet Addresses [here](https://developers.fireblocks.com/docs/whitelist-addresses#external-wallets).

        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor.'
      tags:
      - Whitelisted External Wallets
      x-readme:
        code-samples:
        - language: javascript
          code: const result = await fireblocks.setCustomerRefIdForExternalWallet(walletId, customerRefId);
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<void>> = fireblocks.externalWallets.setExternalWalletCustomerRefId(externalWalletsApiSetExternalWalletCustomerRefIdRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<Void>> response = fireblocks.externalWallets().setExternalWalletCustomerRefId(setCustomerRefIdRequest,
            walletId, idempotencyKey);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.external_wallets.set_external_wallet_customer_ref_id(set_customer_ref_id_request, wallet_id,
            idempotency_key);
          name: Fireblocks SDK Python example
      parameters:
      - in: path
        name: walletId
        required: true
        description: The wallet ID
        schema:
          type: string
      - $ref: '#/components/parameters/X-Idempotency-Key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetCustomerRefIdRequest'
      responses:
        '201':
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          $ref: '#/components/responses/Error'
      operationId: setExternalWalletCustomerRefId
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<void>> = fireblocks.externalWallets.setExternalWalletCustomerRefId(externalWalletsApiSetExternalWalletCustomerRefIdRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<Void>> response = fireblocks.externalWallets().setExternalWalletCustomerRefId(setCustomerRefIdRequest,
          walletId, idempotencyKey);
      - lang: Python
        source: response = fireblocks.external_wallets.set_external_wallet_customer_ref_id(set_customer_ref_id_request, wallet_id,
          idempotency_key);
  /external_wallets/{walletId}/{assetId}:
    get:
      summary: Get an asset from an external wallet
      description: "Returns an external wallet by wallet ID and asset ID.\n\nExternal Wallet is a whitelisted address of a\
        \ wallet that belongs to your users/counterparties.\n\n- You cannot see the balance of the external wallet.\n- You\
        \ cannot initiate transactions from an external wallet as the source via Fireblocks.\n</br>Endpoint Permission: Admin,\
        \ Non-Signing Admin, Signer, Approver, Editor,\n  Viewer."
      tags:
      - Whitelisted External Wallets
      x-readme:
        code-samples:
        - language: javascript
          code: const externalWalletAsset = fireblocks.getExternalWalletAsset(walletId, assetId)
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<ExternalWalletAsset>> = fireblocks.externalWallets.getExternalWalletAsset(externalWalletsApiGetExternalWalletAssetRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<ExternalWalletAsset>> response = fireblocks.externalWallets().getExternalWalletAsset(walletId,
            assetId);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.external_wallets.get_external_wallet_asset(wallet_id, asset_id);
          name: Fireblocks SDK Python example
      parameters:
      - in: path
        name: walletId
        required: true
        description: The ID of the wallet
        schema:
          type: string
      - in: path
        name: assetId
        required: true
        description: The ID of the asset to return
        schema:
          type: string
          x-fb-entity: asset
      responses:
        '200':
          description: A Wallet Asset object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalWalletAsset'
        default:
          $ref: '#/components/responses/Error'
      operationId: getExternalWalletAsset
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<ExternalWalletAsset>> = fireblocks.externalWallets.getExternalWalletAsset(externalWalletsApiGetExternalWalletAssetRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<ExternalWalletAsset>> response = fireblocks.externalWallets().getExternalWalletAsset(walletId,
          assetId);
      - lang: Python
        source: response = fireblocks.external_wallets.get_external_wallet_asset(wallet_id, asset_id);
    post:
      summary: Add an asset to an external wallet.
      description: 'Adds an asset to an existing external wallet.

        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor.'
      tags:
      - Whitelisted External Wallets
      x-readme:
        code-samples:
        - language: javascript
          code: const externalWalletAsset = await fireblocks.createExternalWalletAsset(walletContainerId, assetId, address,
            tag);
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<ExternalWalletAsset>> = fireblocks.externalWallets.addAssetToExternalWallet(externalWalletsApiAddAssetToExternalWalletRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<ExternalWalletAsset>> response = fireblocks.externalWallets().addAssetToExternalWallet(walletId,
            assetId, addAssetToExternalWalletRequest, idempotencyKey);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.external_wallets.add_asset_to_external_wallet(wallet_id, asset_id, add_asset_to_external_wallet_request,
            idempotency_key);
          name: Fireblocks SDK Python example
      parameters:
      - in: path
        name: walletId
        required: true
        description: The ID of the wallet
        schema:
          type: string
      - in: path
        name: assetId
        required: true
        description: The ID of the asset to add
        schema:
          type: string
          x-fb-entity: asset
      - $ref: '#/components/parameters/X-Idempotency-Key'
      responses:
        '200':
          description: A Wallet Asset object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalWalletAsset'
        default:
          $ref: '#/components/responses/Error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddAssetToExternalWalletRequest'
      operationId: addAssetToExternalWallet
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<ExternalWalletAsset>> = fireblocks.externalWallets.addAssetToExternalWallet(externalWalletsApiAddAssetToExternalWalletRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<ExternalWalletAsset>> response = fireblocks.externalWallets().addAssetToExternalWallet(walletId,
          assetId, addAssetToExternalWalletRequest, idempotencyKey);
      - lang: Python
        source: response = fireblocks.external_wallets.add_asset_to_external_wallet(wallet_id, asset_id, add_asset_to_external_wallet_request,
          idempotency_key);
    delete:
      summary: Delete an asset from an external wallet
      description: 'Deletes an external wallet asset by ID.

        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor.'
      tags:
      - Whitelisted External Wallets
      x-readme:
        code-samples:
        - language: javascript
          code: const result = await fireblocks.deleteExternalWalletAsset(walletId, assetId);
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<void>> = fireblocks.externalWallets.removeAssetFromExternalWallet(externalWalletsApiRemoveAssetFromExternalWalletRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<Void>> response = fireblocks.externalWallets().removeAssetFromExternalWallet(walletId,
            assetId);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.external_wallets.remove_asset_from_external_wallet(wallet_id, asset_id);
          name: Fireblocks SDK Python example
      parameters:
      - in: path
        name: walletId
        required: true
        description: The ID of the wallet
        schema:
          type: string
      - in: path
        name: assetId
        required: true
        description: The ID of the asset to delete
        schema:
          type: string
          x-fb-entity: asset
      responses:
        '201':
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          $ref: '#/components/responses/Error'
      operationId: removeAssetFromExternalWallet
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<void>> = fireblocks.externalWallets.removeAssetFromExternalWallet(externalWalletsApiRemoveAssetFromExternalWalletRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<Void>> response = fireblocks.externalWallets().removeAssetFromExternalWallet(walletId,
          assetId);
      - lang: Python
        source: response = fireblocks.external_wallets.remove_asset_from_external_wallet(wallet_id, asset_id);
  /contracts:
    get:
      summary: List Whitelisted Contracts
      description: 'Gets a list of whitelisted contracts.

        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.'
      tags:
      - Whitelisted Contracts
      responses:
        '200':
          description: A list of whitelisted contracts
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetContractsResponse'
        default:
          $ref: '#/components/responses/Error'
      operationId: getContracts
      x-readme:
        code-samples:
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<GetContractsResponse>> = fireblocks.contracts.getContracts();'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<List<UnmanagedWallet>>> response = fireblocks.contracts().getContracts();
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.contracts.get_contracts();
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<GetContractsResponse>> = fireblocks.contracts.getContracts();'
      - lang: Java
        source: CompletableFuture<ApiResponse<List<UnmanagedWallet>>> response = fireblocks.contracts().getContracts();
      - lang: Python
        source: response = fireblocks.contracts.get_contracts();
    post:
      summary: Create a Whitelisted Contract
      description: 'Creates a new whitelisted contract.


        Learn more about Whitelisted Smart Contracts [here](https://developers.fireblocks.com/docs/whitelist-addresses#contracts).


        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor.'
      tags:
      - Whitelisted Contracts
      parameters:
      - $ref: '#/components/parameters/X-Idempotency-Key'
      responses:
        '200':
          description: A Wallet object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnmanagedWallet'
        default:
          $ref: '#/components/responses/Error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContractRequest'
      operationId: createContract
      x-readme:
        code-samples:
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<UnmanagedWallet>> = fireblocks.contracts.createContract(contractsApiCreateContractRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<UnmanagedWallet>> response = fireblocks.contracts().createContract(createContractRequest,
            idempotencyKey);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.contracts.create_contract(create_contract_request, idempotency_key);
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<UnmanagedWallet>> = fireblocks.contracts.createContract(contractsApiCreateContractRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<UnmanagedWallet>> response = fireblocks.contracts().createContract(createContractRequest,
          idempotencyKey);
      - lang: Python
        source: response = fireblocks.contracts.create_contract(create_contract_request, idempotency_key);
  /contracts/{contractId}:
    get:
      summary: Find a Specific Whitelisted Contract
      description: 'Returns a whitelisted contract by Fireblocks Contract ID.


        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor.'
      tags:
      - Whitelisted Contracts
      parameters:
      - in: path
        name: contractId
        required: true
        description: The ID of the contract to return
        schema:
          type: string
          example: 908a8cd0-d41b-4a11-b90c-3493a1060929
      responses:
        '200':
          description: A Wallet object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnmanagedWallet'
        default:
          $ref: '#/components/responses/Error'
      operationId: getContract
      x-readme:
        code-samples:
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<UnmanagedWallet>> = fireblocks.contracts.getContract(contractsApiGetContractRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<UnmanagedWallet>> response = fireblocks.contracts().getContract(contractId);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.contracts.get_contract(contract_id);
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<UnmanagedWallet>> = fireblocks.contracts.getContract(contractsApiGetContractRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<UnmanagedWallet>> response = fireblocks.contracts().getContract(contractId);
      - lang: Python
        source: response = fireblocks.contracts.get_contract(contract_id);
    delete:
      summary: Delete a Whitelisted Contract
      description: 'Deletes a whitelisted contract by Fireblocks Contract ID.

        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor.'
      tags:
      - Whitelisted Contracts
      parameters:
      - in: path
        name: contractId
        required: true
        description: The ID of the contract to delete
        schema:
          type: string
          example: 908a8cd0-d41b-4a11-b90c-3493a1060929
      responses:
        '201':
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          $ref: '#/components/responses/Error'
      operationId: deleteContract
      x-readme:
        code-samples:
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<void>> = fireblocks.contracts.deleteContract(contractsApiDeleteContractRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<Void>> response = fireblocks.contracts().deleteContract(contractId);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.contracts.delete_contract(contract_id);
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<void>> = fireblocks.contracts.deleteContract(contractsApiDeleteContractRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<Void>> response = fireblocks.contracts().deleteContract(contractId);
      - lang: Python
        source: response = fireblocks.contracts.delete_contract(contract_id);
  /contracts/{contractId}/{assetId}:
    get:
      summary: Find a whitelisted contract's asset
      description: 'Returns a whitelisted contract''s asset by ID.


        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor.'
      tags:
      - Whitelisted Contracts
      parameters:
      - in: path
        name: contractId
        required: true
        description: The ID of the contract
        schema:
          type: string
          example: 908a8cd0-d41b-4a11-b90c-3493a1060929
      - in: path
        name: assetId
        required: true
        description: The ID of the asset to return
        schema:
          type: string
          x-fb-entity: asset
          example: ETH
      responses:
        '200':
          description: A Wallet Asset object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalWalletAsset'
        default:
          $ref: '#/components/responses/Error'
      operationId: getContractAsset
      x-readme:
        code-samples:
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<ExternalWalletAsset>> = fireblocks.contracts.getContractAsset(contractsApiGetContractAssetRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<ExternalWalletAsset>> response = fireblocks.contracts().getContractAsset(contractId,
            assetId);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.contracts.get_contract_asset(contract_id, asset_id);
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<ExternalWalletAsset>> = fireblocks.contracts.getContractAsset(contractsApiGetContractAssetRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<ExternalWalletAsset>> response = fireblocks.contracts().getContractAsset(contractId,
          assetId);
      - lang: Python
        source: response = fireblocks.contracts.get_contract_asset(contract_id, asset_id);
    post:
      summary: Add an Asset to a Whitelisted Contract
      description: 'Adds an asset to an existing whitelisted contract.

        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor.'
      tags:
      - Whitelisted Contracts
      parameters:
      - in: path
        name: contractId
        required: true
        description: The ID of the contract
        schema:
          type: string
          example: 908a8cd0-d41b-4a11-b90c-3493a1060929
      - in: path
        name: assetId
        required: true
        description: The ID of the asset to add
        schema:
          type: string
          x-fb-entity: asset
          example: ETH
      - $ref: '#/components/parameters/X-Idempotency-Key'
      responses:
        '200':
          description: A Wallet Asset object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalWalletAsset'
        default:
          $ref: '#/components/responses/Error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddContractAssetRequest'
      operationId: addContractAsset
      x-readme:
        code-samples:
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<ExternalWalletAsset>> = fireblocks.contracts.addContractAsset(contractsApiAddContractAssetRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<ExternalWalletAsset>> response = fireblocks.contracts().addContractAsset(contractId,
            assetId, addContractAssetRequest, idempotencyKey);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.contracts.add_contract_asset(contract_id, asset_id, add_contract_asset_request, idempotency_key);
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<ExternalWalletAsset>> = fireblocks.contracts.addContractAsset(contractsApiAddContractAssetRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<ExternalWalletAsset>> response = fireblocks.contracts().addContractAsset(contractId,
          assetId, addContractAssetRequest, idempotencyKey);
      - lang: Python
        source: response = fireblocks.contracts.add_contract_asset(contract_id, asset_id, add_contract_asset_request, idempotency_key);
    delete:
      summary: Delete a Whitelisted Contract's Asset
      description: 'Deletes a whitelisted contract''s asset by Fireblocks Contract ID and Asset ID.

        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor.'
      tags:
      - Whitelisted Contracts
      parameters:
      - in: path
        name: contractId
        required: true
        description: The ID of the contract
        schema:
          type: string
          example: 908a8cd0-d41b-4a11-b90c-3493a1060929
      - in: path
        name: assetId
        required: true
        description: The ID of the asset to delete
        schema:
          type: string
          x-fb-entity: asset
          example: ETH
      responses:
        '201':
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          $ref: '#/components/responses/Error'
      operationId: deleteContractAsset
      x-readme:
        code-samples:
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<void>> = fireblocks.contracts.deleteContractAsset(contractsApiDeleteContractAssetRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<Void>> response = fireblocks.contracts().deleteContractAsset(contractId, assetId);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.contracts.delete_contract_asset(contract_id, asset_id);
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<void>> = fireblocks.contracts.deleteContractAsset(contractsApiDeleteContractAssetRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<Void>> response = fireblocks.contracts().deleteContractAsset(contractId, assetId);
      - lang: Python
        source: response = fireblocks.contracts.delete_contract_asset(contract_id, asset_id);
components:
  schemas:
    AbaPaymentInfo:
      type: object
      description: ABA payment information for US bank transfers
      properties:
        accountHolderGivenName:
          type: string
          description: The given name (first name) of the account holder
          example: John
        accountHolderSurname:
          type: string
          description: The surname (last name) of the account holder
          example: Doe
        accountHolderCity:
          type: string
          description: The city where the account holder resides
          example: New York
        accountHolderCountry:
          type: string
          description: The country where the account holder resides (ISO 3166-1 alpha-2 code)
          example: US
        accountHolderAddress1:
          type: string
          description: The primary address line of the account holder
          example: 123 Wall Street
        accountHolderAddress2:
          type: string
          description: The secondary address line of the account holder (optional)
          example: Suite 100
        accountHolderDistrict:
          type: string
          description: The district or region where the account holder resides
          example: Manhattan
        accountHolderPostalCode:
          type: string
          description: The postal code of the account holder's address
          example: '10005'
        abaRoutingNumber:
          type: string
          description: The ABA routing number for the bank
          example: '021000021'
        abaAccountNumber:
          type: string
          description: The account number at the bank
          example: '1234567890'
        abaCountry:
          type: string
          description: The country for the ABA transfer (ISO 3166-1 alpha-2 code)
          example: US
      required:
      - accountHolderGivenName
      - accountHolderCity
      - accountHolderCountry
      - accountHolderAddress1
      - accountHolderPostalCode
      - abaRoutingNumber
      - abaAccountNumber
      - abaCountry
    AchPaymentInfo:
      type: object
      description: ACH payment information for US Automated Clearing House transfers
      properties:
        rail:
          type: string
          enum:
          - ACH
          description: The payment rail type for ACH transfers
          example: ACH
        addressingSystem:
          type: string
          enum:
          - ACH
          description: The addressing system used for ACH transfers
          example: ACH
        accountHolderGivenName:
          type: string
          description: The given name (first name) of the account holder
          example: John
        accountHolderSurname:
          type: string
          description: The surname (last name) of the account holder
          example: Smith
        country:
          type: string
          description: The country for the transfer (ISO 3166-1 alpha-2 code)
          example: US
        accountNumber:
          type: string
          description: The bank account number
          example: '1234567890'
        routingNumber:
          type: string
          description: The bank routing number (ABA routing number)
          example: '021000021'
        accountType:
          type: string
          enum:
          - CHECKING
          - SAVINGS
          description: The type of bank account
          example: CHECKING
      required:
      - rail
      - addressingSystem
      - routingNumber
      - accountType
      - accountHolderGivenName
      - accountHolderSurname
      - country
      - accountNumber
    AddAssetToExternalWalletRequest:
      oneOf:
      - $ref: '#/components/schemas/BasicAddressRequest'
      - $ref: '#/components/schemas/AdditionalInfoRequest'
    AddContractAssetRequest:
      type: object
      properties:
        address:
          type: string
          description: The contract's address (or xpub) of the wallet
        tag:
          type: string
          description: The destination tag, for XRP wallets
      required:
      - address
    AdditionalInfoRequest:
      type: object
      description: External wallet request with additional payment information for various payment rails
      properties:
        additionalInfo:
          type: object
          description: Additional payment information based on the payment rail type
          oneOf:
          - $ref: '#/components/schemas/IbanPaymentInfo'
          - $ref: '#/components/schemas/AbaPaymentInfo'
          - $ref: '#/components/schemas/SpeiBasicPaymentInfo'
          - $ref: '#/components/schemas/SpeiAdvancedPaymentInfo'
          - $ref: '#/components/schemas/PixPaymentInfo'
          - $ref: '#/components/schemas/SepaPaymentInfo'
          - $ref: '#/components/schemas/AchPaymentInfo'
          - $ref: '#/components/schemas/UsWirePaymentInfo'
          - $ref: '#/components/schemas/MomoPaymentInfo'
          - $ref: '#/components/schemas/LbtPaymentInfo'
      required:
      - additionalInfo
    BasicAddressRequest:
      type: object
      description: Basic external wallet request with address information
      properties:
        address:
          type: string
          description: The external wallet's address (or its xpub)
          example: 1A1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa
        tag:
          type: string
          description: '- For XRP wallets, the destination tag.

            - For EOS/XLM wallets, the memo.

            - For fiat providers, the Bank Transfer Description.

            '
          example: '12345'
      required:
      - address
    ConfigChangeRequestStatus:
      type: string
      enum:
      - WAITING_FOR_APPROVAL
      - APPROVED
      - CANCELLED
      - REJECTED
      - FAILED
    CreateContractRequest:
      type: object
      properties:
        name:
          type: string
          description: the contract's display name
    CreateInternalWalletAssetRequest:
      type: object
      properties:
        address:
          type: string
          description: The wallet's address or, for EOS wallets, the account name
        tag:
          type: string
          description: for XRP wallets, the destination tag; for EOS, the memo; for the fiat providers (BLINC by BCB Group),
            the Bank Transfer Description
      required:
      - address
    CreateWalletRequest:
      type: object
      properties:
        name:
          type: string
          description: the wallet's display name
        customerRefId:
          description: Optional - Sets a customer reference ID
          type: string
    ExternalWalletAsset:
      type: object
      properties:
        id:
          type: string
        status:
          $ref: '#/components/schemas/ConfigChangeRequestStatus'
        address:
          type: string
        balance:
          type: string
        lockedAmount:
          type: string
        tag:
          type: string
        activationTime:
          type: string
        additionalInfo:
          type: array
          items:
            $ref: '#/components/schemas/WalletAssetAdditionalInfo'
    GetContractsResponse:
      type: array
      items:
        $ref: '#/components/schemas/UnmanagedWallet'
    GetExternalWalletsResponse:
      type: array
      items:
        $ref: '#/components/schemas/UnmanagedWallet'
    GetInternalWalletsResponse:
      type: array
      items:
        $ref: '#/components/schemas/UnmanagedWallet'
    IbanPaymentInfo:
      type: object
      description: IBAN payment information for European bank transfers
      properties:
        accountHolderGivenName:
          type: string
          description: The given name (first name) of the account holder
          example: John
        accountHolderSurname:
          type: string
          description: The surname (last name) of the account holder
          example: Doe
        accountHolderCity:
          type: string
          description: The city where the account holder resides
          example: London
        accountHolderCountry:
          type: string
          description: The country where the account holder resides (ISO 3166-1 alpha-2 code)
          example: GB
        accountHolderAddress1:
          type: string
          description: The primary address line of the account holder
          example: 123 Main Street
        accountHolderAddress2:
          type: string
          description: The secondary address line of the account holder (optional)
          example: Apartment 4B
        accountHolderDistrict:
          type: string
          description: The district or region where the account holder resides
          example: Westminster
        accountHolderPostalCode:
          type: string
          description: The postal code of the account holder's address
          example: SW1A 1AA
        iban:
          type: string
          description: The International Bank Account Number (IBAN)
          example: GB82WEST12345698765432
        ibanCity:
          type: string
          description: The city associated with the IBAN
          example: London
        ibanCountry:
          type: string
          description: The country associated with the IBAN (ISO 3166-1 alpha-2 code)
          example: GB
      required:
      - accountHolderGivenName
      - accountHolderCity
      - accountHolderCountry
      - accountHolderAddress1
      - accountHolderPostalCode
      - iban
      - ibanCity
      - ibanCountry
    LbtPaymentInfo:
      type: object
      description: LBT (Lebanese Bank Transfer) payment information for Lebanese bank transfers
      properties:
        rail:
          type: string
          enum:
          - LBT
          description: The payment rail type for Lebanese bank transfers
          example: LBT
        addressingSystem:
          type: string
          enum:
          - BAN
          description: The addressing system used for Lebanese bank transfers (Bank Account Number)
          example: BAN
        accountHolderGivenName:
          type: string
          description: The given name (first name) of the account holder
          example: Ahmad
        accountHolderSurname:
          type: string
          description: The surname (last name) of the account holder
          example: Khalil
        country:
          type: string
          description: The country for the transfer (ISO 3166-1 alpha-2 code)
          example: LB
        accountNumber:
          type: string
          description: The bank account number
          example: '123456789012'
        bankName:
          type: string
          description: The name of the bank
          example: Bank of Beirut
        bankCode:
          type: string
          description: The bank code or identifier
          example: '001'
      required:
      - rail
      - addressingSystem
      - accountHolderGivenName
      - accountHolderSurname
      - country
      - accountNumber
      - bankName
      - bankCode
    MomoPaymentInfo:
      type: object
      description: Mobile Money (MOMO) payment information for African mobile payment services
      properties:
        rail:
          type: string
          enum:
          - MOMO
          description: The payment rail type for mobile money transfers
          example: MOMO
        addressingSystem:
          type: string
          enum:
          - MOMO
          description: The addressing system used for mobile money transfers
          example: MOMO
        accountHolderGivenName:
          type: string
          description: The given name (first name) of the account holder
          example: Kwame
        accountHolderSurname:
          type: string
          description: The surname (last name) of the account holder
          example: Asante
        country:
          type: string
          description: The country for the transfer (ISO 3166-1 alpha-2 code)
          example: GH
        mobilePhoneNumber:
          type: string
          description: The mobile phone number associated with the mobile money account
          example: '+233241234567'
        provider:
          type: string
          enum:
          - M_PESA
          - AIRTEL
          - MTN
          - TIGO
          description: The mobile money service provider
          example: MTN
        beneficiaryDocumentId:
          type: string
          description: The document ID of the beneficiary
          example: GHA-123456789-0
        beneficiaryRelationship:
          type: string
          description: The relationship between sender and beneficiary
          example: Family
      required:
      - rail
      - addressingSystem
      - accountHolderGivenName
      - accountHolderSurname
      - country
      - mobilePhoneNumber
      - provider
    PaginatedAssetsResponse:
      type: object
      properties:
        total:
          type: number
          description: Total number of assets in the internal wallet
        data:
          $ref: '#/components/schemas/UnmanagedWallet'
        next:
          type: string
          description: Cursor for the next page of results
      required:
      - data
    PixPaymentInfo:
      type: object
      description: PIX payment information for Brazilian instant payments
      properties:
        rail:
          type: string
          enum:
          - PIX
          description: The payment rail type for PIX transfers
          example: PIX
        addressingSystem:
          type: string
          enum:
          - PIX
          description: The addressing system used for PIX transfers
          example: PIX
        accountHolderGivenName:
          type: string
          description: The given name (first name) of the account holder
          example: "Jo\xE3o"
        accountHolderSurname:
          type: string
          description: The surname (last name) of the account holder
          example: Silva
        country:
          type: string
          description: The country for the transfer (ISO 3166-1 alpha-2 code)
          example: BR
        pixKey:
          type: string
          description: The PIX key used for the transfer
          example: joao.silva@email.com
        bankName:
          type: string
          description: The name of the bank
          example: Banco do Brasil
        bankCode:
          type: string
          description: The bank code (ISPB - Identificador do Sistema de Pagamentos Brasileiros)
          example: '00000000'
        keyType:
          type: string
          enum:
          - CPF
          - CNPJ
          - EMAIL
          - PHONE
          - RANDOM
          description: The type of PIX key being used
          example: EMAIL
      required:
      - rail
      - addressingSystem
      - accountHolderGivenName
      - accountHolderSurname
      - country
      - pixKey
      - keyType
    SepaPaymentInfo:
      type: object
      description: SEPA payment information for European Single Euro Payments Area transfers
      properties:
        rail:
          type: string
          enum:
          - SEPA
          description: The payment rail type for SEPA transfers
          example: SEPA
        addressingSystem:
          type: string
          enum:
          - IBAN
          description: The addressing system used for SEPA transfers
          example: IBAN
        accountHolderGivenName:
          type: string
          description: The given name (first name) of the account holder
          example: Marie
        accountHolderSurname:
          type: string
          description: The surname (last name) of the account holder
          example: Dupont
        accountHolderCountry:
          type: string
          description: The country where the account holder resides (ISO 3166-1 alpha-2 code)
          example: FR
        accountHolderAddress:
          type: string
          description: The address of the account holder
          example: 123 Rue de la Paix
        iban:
          type: string
          description: The International Bank Account Number (IBAN)
          example: FR1420041010050500013M02606
        country:
          type: string
          description: The country for the transfer (ISO 3166-1 alpha-2 code)
          example: FR
        bic:
          type: string
          description: The Bank Identifier Code (BIC/SWIFT code)
          example: BNPAFRPP
        bankName:
          type: string
          description: The name of the bank
          example: BNP Paribas
        bankBranch:
          type: string
          description: The bank branch information
          example: Paris Central
        bankAddress:
          type: string
          description: The address of the bank
          example: 16 Boulevard des Italiens, 75009 Paris
        purposeCode:
          type: string
          description: The purpose code for the transfer
          example: SALA
        taxId:
          type: string
          description: The tax identification number
          example: '1234567890123'
      required:
      - rail
      - addressingSystem
      - accountHolderGivenName
      - accountHolderSurname
      - country
      - iban
    SetCustomerRefIdRequest:
      type: object
      properties:
        customerRefId:
          description: Customer reference ID
          type: string
          example: some-customer-reference
    SpeiAdvancedPaymentInfo:
      type: object
      description: Advanced SPEI payment information for Mexican bank transfers with full details
      properties:
        rail:
          type: string
          enum:
          - SPEI
          description: The payment rail type for SPEI transfers
          example: SPEI
        addressingSystem:
          type: string
          enum:
          - CLABE
          description: The addressing system used for SPEI transfers
          example: CLABE
        accountHolderGivenName:
          type: string
          description: The given name (first name) of the account holder
          example: Juan
        accountHolderSurname:
          type: string
          description: The surname (last name) of the account holder
          example: "P\xE9rez"
        country:
          type: string
          description: The country for the transfer (ISO 3166-1 alpha-2 code)
          example: MX
        bankName:
          type: string
          description: The name of the bank
          example: "Banco Nacional de M\xE9xico"
        beneficiaryRfc:
          type: string
          description: The RFC (Registro Federal de Contribuyentes) of the beneficiary
          example: PERJ800101ABC
        senderDocumentId:
          type: string
          description: The document ID of the sender
          example: CURP123456789
        clabe:
          type: string
          description: The CLABE (Clave Bancaria Estandarizada) number
          example: 012180001234567890
      required:
      - rail
      - addressingSystem
      - accountHolderGivenName
      - accountHolderSurname
      - country
      - clabe
    SpeiBasicPaymentInfo:
      type: object
      description: Basic SPEI payment information for Mexican bank transfers
      properties:
        speiClabe:
          type: string
          description: The CLABE (Clave Bancaria Estandarizada) number for SPEI transfers
          example: 012180001234567890
        speiName:
          type: string
          description: The name associated with the SPEI account
          example: "Juan P\xE9rez"
      required:
      - speiClabe
    UnmanagedWallet:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        customerRefId:
          type: string
        assets:
          type: array
          items:
            $ref: '#/components/schemas/WalletAsset'
      required:
      - id
      - name
      - assets
    UsWirePaymentInfo:
      type: object
      description: US Wire payment information for US domestic wire transfers
      properties:
        rail:
          type: string
          enum:
          - US_WIRE
          description: The payment rail type for US wire transfers
          example: US_WIRE
        addressingSystem:
          type: string
          enum:
          - ABA
          description: The addressing system used for US wire transfers
          example: ABA
        accountHolderGivenName:
          type: string
          description: The given name (first name) of the account holder
          example: John
        accountHolderSurname:
          type: string
          description: The surname (last name) of the account holder
          example: Smith
        country:
          type: string
          description: The country for the transfer (ISO 3166-1 alpha-2 code)
          example: US
        accountNumber:
          type: string
          description: The bank account number
          example: '1234567890'
        routingNumber:
          type: string
          description: The bank routing number (ABA routing number)
          example: '021000021'
        swiftCode:
          type: string
          description: The SWIFT/BIC code of the bank
          example: CHASUS33
        bankName:
          type: string
          description: The name of the bank
          example: JPMorgan Chase Bank
        bankAddressLine:
          type: string
          description: The street address of the bank
          example: 270 Park Avenue
        bankAddressCity:
          type: string
          description: The city where the bank is located
          example: New York
        bankAddressState:
          type: string
          description: The state where the bank is located
          example: NY
        bankAddressCountry:
          type: string
          description: The country where the bank is located (ISO 3166-1 alpha-2 code)
          example: US
        bankAddressPostalCode:
          type: string
          description: The postal code of the bank's address
          example: '10017'
        branchNumber:
          type: string
          description: The branch number of the bank
          example: '001'
      required:
      - rail
      - addressingSystem
      - accountHolderGivenName
      - accountHolderSurname
      - country
      - swiftCode
      - bankName
      - accountNumber
      - routingNumber
      - bankAddressLine
      - bankAddressCity
      - bankAddressCountry
      - bankAddressPostalCode
    WalletAsset:
      type: object
      properties:
        id:
          type: string
        balance:
          type: string
        lockedAmount:
          type: string
        status:
          $ref: '#/components/schemas/ConfigChangeRequestStatus'
        address:
          type: string
        tag:
          type: string
        activationTime:
          type: string
    WalletAssetAdditionalInfo:
      type: object
      properties:
        accountHolderGivenName:
          type: string
        accountHolderSurname:
          type: string
        accountHolderCity:
          type: string
        accountHolderCountry:
          type: string
        accountHolderAddress1:
          type: string
        accountHolderAddress2:
          type: string
        accountHolderDistrict:
          type: string
        accountHolderPostalCode:
          type: string
        abaRoutingNumber:
          type: string
        abaAccountNumber:
          type: string
        abaCountry:
          type: string
        iban:
          type: string
        ibanCity:
          type: string
        ibanCountry:
          type: string
        speiClabe:
          type: string
        speiName:
          type: string
  securitySchemes:
    bearerTokenAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
  parameters:
    X-Idempotency-Key:
      name: Idempotency-Key
      in: header
      description: A unique identifier for the request. If the request is sent multiple times with the same idempotency key,
        the server will return the same response as the first request. The idempotency key is valid for 24 hours.
      required: false
      schema:
        type: string
        example: some-unique-id
    X-End-User-Wallet-Id:
      name: X-End-User-Wallet-Id
      in: header
      description: Unique ID of the End-User wallet to the API request. Required for end-user wallet operations.
      required: false
      schema:
        type: string
        format: uuid
        example: bd53b580-f69d-4ff9-ba9b-71ef02aaee13
  responses:
    Error:
      description: Error Response
      headers:
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorSchema'
