openapi: 3.0.0
info:
  title: Fireblocks Compliance and Policy API
  description: 'Fireblocks provides a suite of applications to manage digital asset operations and a complete development
    platform to build your business on the blockchain.


    - Visit our website for more information: [Fireblocks Website](https://fireblocks.com)

    - Visit our developer docs: [Fireblocks DevPortal](https://developers.fireblocks.com)

    '
  version: 1.8.0
  contact:
    email: developers@fireblocks.com
servers:
- url: https://api.fireblocks.io/v1
  description: Fireblocks Production Environment Base URL
- url: https://sandbox-api.fireblocks.io/v1
  description: Fireblocks Sandbox Environment Base URL
security: []
paths:
  /screening/travel_rule/transaction/validate:
    post:
      operationId: validateTravelRuleTransaction
      summary: Validate Travel Rule Transaction
      description: 'Validate Travel Rule transactions.

        Checks what beneficiary VASP details are required by your jurisdiction and the beneficiary''s jurisdiction.

        **Deprecation Notice** This endpoint will be deprecated soon in favor of the [validate full](https://developers.fireblocks.com/reference/validatefulltravelruletransaction)
        endpoint. Please update your integrations to use the  [validate full](https://developers.fireblocks.com/reference/validatefulltravelruletransaction)
        endpoint to ensure compatibility with future releases.

        Checks what beneficiary VASP details are required by your jurisdiction and the beneficiary''s jurisdiction.

        Learn more about Fireblocks Travel Rule management in the following [guide](https://developers.fireblocks.com/docs/define-travel-rule-policies).


        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.'
      parameters:
      - name: notation
        in: query
        description: 'Specifies the notation of the transaction. Possible values are: - `notabene`: Uses Notabene notation
          (default behavior). - `fireblocks`: Uses Fireblocks notation, with automatic translation of asset tickers and amounts.
          - `<none>`: Defaults to `notabene` for backward compatibility.

          **Note:** The default value for the `notation` parameter will change from `notabene` to `fireblocks` Update your
          integrations accordingly.'
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/X-Idempotency-Key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TravelRuleValidateTransactionRequest'
      responses:
        '200':
          description: Transaction validated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TravelRuleValidateTransactionResponse'
        '400':
          description: Invalid request body
        '500':
          description: Internal server error
      tags:
      - Compliance
      x-readme:
        code-samples:
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<TravelRuleValidateTransactionResponse>> = fireblocks.travelRuleBeta.validateTravelRuleTransaction(travelRuleBetaApiValidateTravelRuleTransactionRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<TravelRuleValidateTransactionResponse>> response = fireblocks.travelRuleBeta().validateTravelRuleTransaction(travelRuleValidateTransactionRequest,
            idempotencyKey);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.travel_rule_beta.validate_travel_rule_transaction(travel_rule_validate_transaction_request,
            idempotency_key);
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<TravelRuleValidateTransactionResponse>> = fireblocks.travelRuleBeta.validateTravelRuleTransaction(travelRuleBetaApiValidateTravelRuleTransactionRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<TravelRuleValidateTransactionResponse>> response = fireblocks.travelRuleBeta().validateTravelRuleTransaction(travelRuleValidateTransactionRequest,
          idempotencyKey);
      - lang: Python
        source: response = fireblocks.travel_rule_beta.validate_travel_rule_transaction(travel_rule_validate_transaction_request,
          idempotency_key);
  /screening/travel_rule/transaction/validate/full:
    post:
      operationId: validateFullTravelRuleTransaction
      summary: Validate Full Travel Rule Transaction
      description: 'Validate Full Travel Rule transaction.

        Checks for all required information on the originator and beneficiary VASPs.

        Learn more about Fireblocks Travel Rule management in the following [guide](https://developers.fireblocks.com/docs/define-travel-rule-policies).


        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.'
      parameters:
      - name: notation
        in: query
        description: 'Specifies the notation of the transaction. Possible values are

          - `notabene`: Uses Notabene notation (default behavior).

          - `fireblocks`: Uses Fireblocks notation, with automatic translation of asset tickers and amounts.

          - `<none>`: Defaults to `notabene` for backward compatibility.


          **Note:** The default value for the `notation` parameter will change from

          `notabene` to `fireblocks` Update your integrations accordingly.

          '
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/X-Idempotency-Key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TravelRuleValidateFullTransactionRequest'
      responses:
        '200':
          description: Transaction validated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TravelRuleValidateTransactionResponse'
        '400':
          description: Invalid request body
        '500':
          description: Internal server error
      tags:
      - Compliance
      x-readme:
        code-samples:
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<TravelRuleValidateTransactionResponse>> = fireblocks.travelRuleBeta.validateFullTravelRuleTransaction(travelRuleBetaApiValidateFullTravelRuleTransactionRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<TravelRuleValidateTransactionResponse>> response = fireblocks.travelRuleBeta().validateFullTravelRuleTransaction(travelRuleValidateFullTransactionRequest,
            idempotencyKey);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.travel_rule_beta.validate_full_travel_rule_transaction(travel_rule_validate_full_transaction_request,
            idempotency_key);
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<TravelRuleValidateTransactionResponse>> = fireblocks.travelRuleBeta.validateFullTravelRuleTransaction(travelRuleBetaApiValidateFullTravelRuleTransactionRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<TravelRuleValidateTransactionResponse>> response = fireblocks.travelRuleBeta().validateFullTravelRuleTransaction(travelRuleValidateFullTransactionRequest,
          idempotencyKey);
      - lang: Python
        source: response = fireblocks.travel_rule_beta.validate_full_travel_rule_transaction(travel_rule_validate_full_transaction_request,
          idempotency_key);
  /screening/travel_rule/vasp/{did}:
    get:
      operationId: getVASPByDID
      summary: Get VASP details
      description: 'Get VASP Details.

        Returns information about a VASP that has the specified DID.

        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.'
      parameters:
      - name: did
        required: true
        in: path
        schema:
          type: string
      - name: fields
        required: false
        in: query
        description: CSV of fields to return (all, "blank" or see list of all field names below)
        schema:
          type: string
      responses:
        '200':
          description: Transaction validated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TravelRuleVASP'
        '400':
          description: Invalid request body
        '500':
          description: Internal server error
      tags:
      - Compliance
      x-readme:
        code-samples:
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<TravelRuleVASP>> = fireblocks.travelRuleBeta.getVASPByDID(travelRuleBetaApiGetVASPByDIDRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<TravelRuleVASP>> response = fireblocks.travelRuleBeta().getVASPByDID(did, fields);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.travel_rule_beta.get_v_a_s_p_by_d_i_d(did, fields);
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<TravelRuleVASP>> = fireblocks.travelRuleBeta.getVASPByDID(travelRuleBetaApiGetVASPByDIDRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<TravelRuleVASP>> response = fireblocks.travelRuleBeta().getVASPByDID(did, fields);
      - lang: Python
        source: response = fireblocks.travel_rule_beta.get_v_a_s_p_by_d_i_d(did, fields);
  /screening/travel_rule/vasp:
    get:
      operationId: getVASPs
      summary: Get All VASPs
      description: 'Get All VASPs.

        Returns a list of VASPs. VASPs can be searched and sorted and results are paginated.

        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.'
      parameters:
      - name: order
        required: false
        in: query
        description: Field to order by
        schema:
          type: string
      - name: per_page
        required: false
        in: query
        description: Records per page
        schema:
          type: number
      - name: page
        required: false
        in: query
        description: Page number
        schema:
          type: number
      - name: fields
        required: false
        in: query
        description: CSV of fields to return (all, "blank" or see list of all field names below)
        schema:
          type: string
      - name: q
        required: false
        in: query
        description: Search query
        schema:
          type: string
      - name: reviewValue
        required: false
        in: query
        description: 'Filter by the VASP''s review status. Possible values include: "TRUSTED", "BLOCKED", "MANUAL", or "NULL".
          When provided, only VASPs that match the specified reviewValue will be returned (i.e., VASPs that have already been
          reviewed to this status).'
        schema:
          type: string
      responses:
        '200':
          description: Get all VASPs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TravelRuleGetAllVASPsResponse'
      tags:
      - Compliance
      x-readme:
        code-samples:
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<TravelRuleGetAllVASPsResponse>> = fireblocks.travelRuleBeta.getVASPs(travelRuleBetaApiGetVASPsRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<TravelRuleGetAllVASPsResponse>> response = fireblocks.travelRuleBeta().getVASPs(order,
            perPage, page, fields);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.travel_rule_beta.get_v_a_s_ps(order, per_page, page, fields);
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<TravelRuleGetAllVASPsResponse>> = fireblocks.travelRuleBeta.getVASPs(travelRuleBetaApiGetVASPsRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<TravelRuleGetAllVASPsResponse>> response = fireblocks.travelRuleBeta().getVASPs(order,
          perPage, page, fields);
      - lang: Python
        source: response = fireblocks.travel_rule_beta.get_v_a_s_ps(order, per_page, page, fields);
  /screening/travel_rule/vasp/update:
    put:
      operationId: updateVasp
      summary: Update VASP Details
      description: 'Updates a VASP with the provided parameters. Use this endpoint to add your public jsonDIDkey generated
        by Notabene.

        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.'
      parameters:
      - $ref: '#/components/parameters/X-Idempotency-Key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TravelRuleUpdateVASPDetails'
      responses:
        '200':
          description: VASP updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TravelRuleUpdateVASPDetails'
        '400':
          description: Invalid request body
        '500':
          description: Internal server error
      tags:
      - Compliance
      x-readme:
        code-samples:
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<TravelRuleUpdateVASPDetails>> = fireblocks.travelRuleBeta.updateVasp(travelRuleBetaApiUpdateVaspRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<TravelRuleUpdateVASPDetails>> response = fireblocks.travelRuleBeta().updateVasp(travelRuleUpdateVASPDetails,
            idempotencyKey);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.travel_rule_beta.update_vasp(travel_rule_update_v_a_s_p_details, idempotency_key);
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<TravelRuleUpdateVASPDetails>> = fireblocks.travelRuleBeta.updateVasp(travelRuleBetaApiUpdateVaspRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<TravelRuleUpdateVASPDetails>> response = fireblocks.travelRuleBeta().updateVasp(travelRuleUpdateVASPDetails,
          idempotencyKey);
      - lang: Python
        source: response = fireblocks.travel_rule_beta.update_vasp(travel_rule_update_v_a_s_p_details, idempotency_key);
  /screening/travel_rule/post_screening_policy:
    get:
      operationId: getPostScreeningPolicy
      summary: Travel Rule - View Post-Screening Policy
      description: 'Get the post-screening policy for Travel Rule.

        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.'
      parameters: []
      responses:
        '200':
          description: Post-screening policy retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreeningPolicyResponse'
      tags:
      - Compliance
      x-readme:
        code-samples:
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<ScreeningPolicyResponse>> = fireblocks.compliance.getPostScreeningPolicy();'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<ScreeningPolicyResponse>> response = fireblocks.compliance().getPostScreeningPolicy();
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.compliance.get_post_screening_policy();
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<ScreeningPolicyResponse>> = fireblocks.compliance.getPostScreeningPolicy();'
      - lang: Java
        source: CompletableFuture<ApiResponse<ScreeningPolicyResponse>> response = fireblocks.compliance().getPostScreeningPolicy();
      - lang: Python
        source: response = fireblocks.compliance.get_post_screening_policy();
  /screening/travel_rule/screening_policy:
    get:
      operationId: getScreeningPolicy
      summary: Travel Rule - View Screening Policy
      description: 'Get the screening policy for Travel Rule.

        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.'
      parameters: []
      responses:
        '200':
          description: Screening policy retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreeningProviderRulesConfigurationResponse'
      tags:
      - Compliance
      x-readme:
        code-samples:
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<ScreeningProviderRulesConfigurationResponse>> = fireblocks.compliance.getScreeningPolicy();'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<ScreeningProviderRulesConfigurationResponse>> response = fireblocks.compliance().getScreeningPolicy();
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.compliance.get_screening_policy();
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<ScreeningProviderRulesConfigurationResponse>> = fireblocks.compliance.getScreeningPolicy();'
      - lang: Java
        source: CompletableFuture<ApiResponse<ScreeningProviderRulesConfigurationResponse>> response = fireblocks.compliance().getScreeningPolicy();
      - lang: Python
        source: response = fireblocks.compliance.get_screening_policy();
  /screening/travel_rule/vault/{vaultAccountId}/vasp:
    get:
      summary: Get assigned VASP to vault
      description: "Get assigned VASP DID for a specific vault. \nReturns empty `vaspDid` string value in response if none\
        \ assigned.\n"
      tags:
      - Compliance
      x-readme:
        code-samples:
        - language: javascript
          code: const vaultAsset = await fireblocks.getVaspForVault(vaultAccountId);
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<TravelRuleVaspForVault>> = fireblocks.travelRuleBeta.getVaspForVault(travelRuleBetaApiGetVaspForVaultRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<TravelRuleVaspForVault>> response = fireblocks.travelRuleBeta().getVaspForVault(vaultAccountId);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.travel_rule_beta.get_vasp_for_vault(vault_account_id);
          name: Fireblocks SDK Python example
      parameters:
      - in: path
        name: vaultAccountId
        required: true
        description: The ID of the vault account
        example: 1
        schema:
          type: string
          format: numeric
          x-fb-entity: vault_account
      responses:
        '200':
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TravelRuleVaspForVault'
        default:
          $ref: '#/components/responses/Error'
      operationId: getVaspForVault
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<TravelRuleVaspForVault>> = fireblocks.travelRuleBeta.getVaspForVault(travelRuleBetaApiGetVaspForVaultRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<TravelRuleVaspForVault>> response = fireblocks.travelRuleBeta().getVaspForVault(vaultAccountId);
      - lang: Python
        source: response = fireblocks.travel_rule_beta.get_vasp_for_vault(vault_account_id);
    post:
      summary: Assign VASP to vault
      description: "Sets the VASP DID for a specific vault. \nPass empty string to remove an existing one.\n"
      tags:
      - Compliance
      x-readme:
        code-samples:
        - language: javascript
          code: const vaultAsset = await fireblocks.setVaspForVault(vaultAccountId, vaspDid);
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<TravelRuleVaspForVault>> = fireblocks.travelRuleBeta.setVaspForVault(travelRuleBetaApiSetVaspForVaultRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<TravelRuleVaspForVault>> response = fireblocks.travelRuleBeta().setVaspForVault(travelRuleVaspForVault,
            vaultAccountId, idempotencyKey);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.travel_rule_beta.set_vasp_for_vault(travel_rule_vasp_for_vault, vault_account_id, idempotency_key);
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<TravelRuleVaspForVault>> = fireblocks.travelRuleBeta.setVaspForVault(travelRuleBetaApiSetVaspForVaultRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<TravelRuleVaspForVault>> response = fireblocks.travelRuleBeta().setVaspForVault(travelRuleVaspForVault,
          vaultAccountId, idempotencyKey);
      - lang: Python
        source: response = fireblocks.travel_rule_beta.set_vasp_for_vault(travel_rule_vasp_for_vault, vault_account_id, idempotency_key);
      parameters:
      - in: path
        name: vaultAccountId
        required: true
        description: The ID of the vault account
        schema:
          type: string
          format: numeric
          x-fb-entity: vault_account
      - $ref: '#/components/parameters/X-Idempotency-Key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TravelRuleVaspForVault'
      responses:
        '201':
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TravelRuleVaspForVault'
        default:
          $ref: '#/components/responses/Error'
      operationId: setVaspForVault
  /screening/travel_rule/policy_configuration:
    get:
      operationId: getScreeningConfiguration
      summary: Get Travel Rule Screening Policy Configuration
      description: 'Retrieves the configuration for Travel Rule screening policy.

        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.'
      parameters: []
      responses:
        '200':
          description: Screening policy configuration retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreeningConfigurationsRequest'
      tags:
      - Compliance
      x-readme:
        code-samples:
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<ScreeningConfigurationsRequest>> = fireblocks.complianceScreeningConfiguration.getScreeningConfiguration();'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<ScreeningConfigurationsRequest>> response = fireblocks.complianceScreeningConfiguration().getScreeningConfiguration();
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.compliance_screening_configuration.get_screening_configuration();
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<ScreeningConfigurationsRequest>> = fireblocks.complianceScreeningConfiguration.getScreeningConfiguration();'
      - lang: Java
        source: CompletableFuture<ApiResponse<ScreeningConfigurationsRequest>> response = fireblocks.complianceScreeningConfiguration().getScreeningConfiguration();
      - lang: Python
        source: response = fireblocks.compliance_screening_configuration.get_screening_configuration();
    put:
      operationId: updateTravelRuleConfig
      summary: Update Travel Rule Configuration
      description: 'Updates bypass screening, inbound delay, or outbound delay configurations for Travel Rule.

        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.'
      parameters:
      - $ref: '#/components/parameters/X-Idempotency-Key'
      responses:
        '200':
          description: Configuration updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreeningConfigurationsRequest'
      tags:
      - Compliance
      x-readme:
        code-samples:
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<ScreeningConfigurationsRequest>> = fireblocks.compliance.updateTravelRuleConfig(complianceApiUpdateTravelRuleConfigRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<ScreeningConfigurationsRequest>> response = fireblocks.compliance().updateTravelRuleConfig(idempotencyKey);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.compliance.update_travel_rule_config(idempotency_key);
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<ScreeningConfigurationsRequest>> = fireblocks.compliance.updateTravelRuleConfig(complianceApiUpdateTravelRuleConfigRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<ScreeningConfigurationsRequest>> response = fireblocks.compliance().updateTravelRuleConfig(idempotencyKey);
      - lang: Python
        source: response = fireblocks.compliance.update_travel_rule_config(idempotency_key);
  /screening/aml/policy_configuration:
    get:
      operationId: getAmlScreeningConfiguration
      summary: Get AML Screening Policy Configuration
      description: 'Retrieves the configuration for Travel Rule screening policy.

        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.'
      parameters: []
      responses:
        '200':
          description: Screening policy configuration retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreeningConfigurationsRequest'
      tags:
      - Compliance
      x-readme:
        code-samples:
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<ScreeningConfigurationsRequest>> = fireblocks.complianceScreeningConfiguration.getAmlScreeningConfiguration();'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<ScreeningConfigurationsRequest>> response = fireblocks.complianceScreeningConfiguration().getAmlScreeningConfiguration();
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.compliance_screening_configuration.get_aml_screening_configuration();
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<ScreeningConfigurationsRequest>> = fireblocks.complianceScreeningConfiguration.getAmlScreeningConfiguration();'
      - lang: Java
        source: CompletableFuture<ApiResponse<ScreeningConfigurationsRequest>> response = fireblocks.complianceScreeningConfiguration().getAmlScreeningConfiguration();
      - lang: Python
        source: response = fireblocks.compliance_screening_configuration.get_aml_screening_configuration();
    put:
      operationId: updateAmlScreeningConfiguration
      summary: Update AML Configuration
      description: 'Updates bypass screening, inbound delay, or outbound delay configurations for AML.

        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.'
      parameters:
      - $ref: '#/components/parameters/X-Idempotency-Key'
      responses:
        '200':
          description: Configuration updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreeningConfigurationsRequest'
      tags:
      - Compliance
      x-readme:
        code-samples:
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<ScreeningConfigurationsRequest>> = fireblocks.compliance.updateAmlScreeningConfiguration(complianceApiUpdateAmlScreeningConfigurationRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<ScreeningConfigurationsRequest>> response = fireblocks.compliance().updateAmlScreeningConfiguration(idempotencyKey);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.compliance.update_aml_screening_configuration(idempotency_key);
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<ScreeningConfigurationsRequest>> = fireblocks.compliance.updateAmlScreeningConfiguration(complianceApiUpdateAmlScreeningConfigurationRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<ScreeningConfigurationsRequest>> response = fireblocks.compliance().updateAmlScreeningConfiguration(idempotencyKey);
      - lang: Python
        source: response = fireblocks.compliance.update_aml_screening_configuration(idempotency_key);
  /screening/aml/screening_policy:
    get:
      operationId: getAmlScreeningPolicy
      summary: AML - View Screening Policy
      description: 'Get the screening policy for AML.

        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.'
      parameters: []
      responses:
        '200':
          description: Screening policy retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreeningProviderRulesConfigurationResponse'
      tags:
      - Compliance
      x-readme:
        code-samples:
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<ScreeningProviderRulesConfigurationResponse>> = fireblocks.compliance.getAmlScreeningPolicy();'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<ScreeningProviderRulesConfigurationResponse>> response = fireblocks.compliance().getAmlScreeningPolicy();
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.compliance.get_aml_screening_policy();
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<ScreeningProviderRulesConfigurationResponse>> = fireblocks.compliance.getAmlScreeningPolicy();'
      - lang: Java
        source: CompletableFuture<ApiResponse<ScreeningProviderRulesConfigurationResponse>> response = fireblocks.compliance().getAmlScreeningPolicy();
      - lang: Python
        source: response = fireblocks.compliance.get_aml_screening_policy();
  /screening/aml/post_screening_policy:
    get:
      operationId: getAmlPostScreeningPolicy
      summary: AML - View Post-Screening Policy
      description: 'Get the post-screening policy for AML.

        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.'
      parameters: []
      responses:
        '200':
          description: Post-screening policy retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreeningPolicyResponse'
      tags:
      - Compliance
      x-readme:
        code-samples:
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<ScreeningPolicyResponse>> = fireblocks.compliance.getAmlPostScreeningPolicy();'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<ScreeningPolicyResponse>> response = fireblocks.compliance().getAmlPostScreeningPolicy();
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.compliance.get_aml_post_screening_policy();
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<ScreeningPolicyResponse>> = fireblocks.compliance.getAmlPostScreeningPolicy();'
      - lang: Java
        source: CompletableFuture<ApiResponse<ScreeningPolicyResponse>> response = fireblocks.compliance().getAmlPostScreeningPolicy();
      - lang: Python
        source: response = fireblocks.compliance.get_aml_post_screening_policy();
  /screening/configurations:
    put:
      operationId: updateScreeningConfiguration
      summary: Screening Configuration Update
      description: 'Update Tenant screening configuration.

        Learn more about Fireblocks AML management in the following [guide](https://developers.fireblocks.com/docs/define-aml-policies).

        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.'
      parameters:
      - $ref: '#/components/parameters/X-Idempotency-Key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScreeningUpdateConfigurations'
      responses:
        '200':
          description: Tenant Screening configuration updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreeningUpdateConfigurations'
      tags:
      - Compliance
      x-readme:
        code-samples:
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<ScreeningUpdateConfigurations>> = fireblocks.compliance.updateScreeningConfiguration(complianceApiUpdateScreeningConfigurationRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<ScreeningUpdateConfigurations>> response = fireblocks.compliance().updateScreeningConfiguration(screeningUpdateConfigurations,
            idempotencyKey);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.compliance.update_screening_configuration(screening_update_configurations, idempotency_key);
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<ScreeningUpdateConfigurations>> = fireblocks.compliance.updateScreeningConfiguration(complianceApiUpdateScreeningConfigurationRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<ScreeningUpdateConfigurations>> response = fireblocks.compliance().updateScreeningConfiguration(screeningUpdateConfigurations,
          idempotencyKey);
      - lang: Python
        source: response = fireblocks.compliance.update_screening_configuration(screening_update_configurations, idempotency_key);
  /screening/transaction/{txId}/bypass_screening_policy:
    post:
      operationId: retryRejectedTransactionBypassScreeningChecks
      summary: Bypass Screening Policy
      description: 'This endpoint is restricted to Admin API users and is only applicable to outgoing transactions.

        Calling the "Bypass Screening Policy" API endpoint triggers a new transaction, with the API user as the initiator,
        bypassing the screening policy check

        </br>Endpoint Permission: Admin and Non-Signing Admin.'
      parameters:
      - in: path
        name: txId
        required: true
        description: The transaction id that was rejected by screening checks
        example: 550e8400-e29b-41d4-a716-446655440000
        schema:
          type: string
      - $ref: '#/components/parameters/X-Idempotency-Key'
      responses:
        '201':
          description: A transaction object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTransactionResponse'
        default:
          $ref: '#/components/responses/Error'
      tags:
      - Compliance
      x-readme:
        code-samples:
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<CreateTransactionResponse>> = fireblocks.compliance.retryRejectedTransactionBypassScreeningChecks(complianceApiRetryRejectedTransactionBypassScreeningChecksRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<CreateTransactionResponse>> response = fireblocks.compliance().retryRejectedTransactionBypassScreeningChecks(txId,
            idempotencyKey);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.compliance.retry_rejected_transaction_bypass_screening_checks(tx_id, idempotency_key);
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<CreateTransactionResponse>> = fireblocks.compliance.retryRejectedTransactionBypassScreeningChecks(complianceApiRetryRejectedTransactionBypassScreeningChecksRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<CreateTransactionResponse>> response = fireblocks.compliance().retryRejectedTransactionBypassScreeningChecks(txId,
          idempotencyKey);
      - lang: Python
        source: response = fireblocks.compliance.retry_rejected_transaction_bypass_screening_checks(tx_id, idempotency_key);
  /screening/transaction/{txId}:
    get:
      operationId: getScreeningFullDetails
      summary: Get Screening Full Details
      description: 'Provides all the compliance details for the given screened transaction.

        </br>Endpoint Permission: All users.'
      parameters:
      - in: path
        name: txId
        required: true
        description: Fireblocks transaction ID of the screened transaction
        example: 550e8400-e29b-41d4-a716-446655440000
        schema:
          type: string
      responses:
        '200':
          description: A compliance object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceResultFullPayload'
        default:
          $ref: '#/components/responses/Error'
      tags:
      - Compliance
      x-readme:
        code-samples:
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<ComplianceResultFullPayload>> = fireblocks.compliance.getScreeningFullDetails(complianceApiGetScreeningFullDetailsRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<ComplianceResultFullPayload>> response = fireblocks.compliance().getScreeningFullDetails(txId);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.compliance.get_screening_full_details(tx_id);
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<ComplianceResultFullPayload>> = fireblocks.compliance.getScreeningFullDetails(complianceApiGetScreeningFullDetailsRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<ComplianceResultFullPayload>> response = fireblocks.compliance().getScreeningFullDetails(txId);
      - lang: Python
        source: response = fireblocks.compliance.get_screening_full_details(tx_id);
  /screening/aml/verdict/manual:
    post:
      operationId: setAmlVerdict
      summary: Set AML verdict for Manual Screening Verdict
      description: Set AML verdict for incoming transactions when the Manual Screening Verdict feature is enabled.
      parameters:
      - $ref: '#/components/parameters/X-Idempotency-Key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AmlVerdictManualRequest'
      responses:
        '200':
          description: AML verdict set successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AmlVerdictManualResponse'
        '400':
          description: Feature not enabled for tenant.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
        '425':
          description: Too Early - transaction not yet in pending screening.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
        '500':
          description: Internal server error.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
        default:
          $ref: '#/components/responses/Error'
      tags:
      - Compliance
      x-rate-limit-category: write
  /tap/active_policy:
    get:
      operationId: getActivePolicy
      summary: Get the active policy and its validation
      description: 'Returns the active policy and its validation. </br>

        **Note:** These endpoints are currently in beta and might be subject to changes.

        If you want to participate and learn more about the Fireblocks TAP, please contact your Fireblocks Customer Success
        Manager or send an email to CSM@fireblocks.com.

        </br>Endpoint Permission: Admin, Non-Signing Admin.'
      tags:
      - Policy Editor (Beta)
      x-readme:
        code-samples:
        - language: javascript
          code: const policy = await fireblocks.getActivePolicy();
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<PolicyAndValidationResponse>> = fireblocks.policyEditorBeta.getActivePolicy();'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<PolicyAndValidationResponse>> response = fireblocks.policyEditorBeta().getActivePolicy();
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.policy_editor_beta.get_active_policy();
          name: Fireblocks SDK Python example
      responses:
        '200':
          description: A policy object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAndValidationResponse'
        default:
          $ref: '#/components/responses/Error'
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<PolicyAndValidationResponse>> = fireblocks.policyEditorBeta.getActivePolicy();'
      - lang: Java
        source: CompletableFuture<ApiResponse<PolicyAndValidationResponse>> response = fireblocks.policyEditorBeta().getActivePolicy();
      - lang: Python
        source: response = fireblocks.policy_editor_beta.get_active_policy();
  /tap/draft:
    get:
      operationId: getDraft
      summary: Get the active draft
      description: 'Returns the active draft and its validation. </br>

        **Note:** These endpoints are currently in beta and might be subject to changes.

        If you want to participate and learn more about the Fireblocks TAP, please contact your Fireblocks Customer Success
        Manager or send an email to CSM@fireblocks.com.

        </br>Endpoint Permission: Admin, Non-Signing Admin.'
      tags:
      - Policy Editor (Beta)
      x-readme:
        code-samples:
        - language: javascript
          code: const policy = await fireblocks.getDraft();
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<DraftReviewAndValidationResponse>> = fireblocks.policyEditorBeta.getDraft();'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<DraftReviewAndValidationResponse>> response = fireblocks.policyEditorBeta().getDraft();
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.policy_editor_beta.get_draft();
          name: Fireblocks SDK Python example
      responses:
        '200':
          description: A draft validation response object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftReviewAndValidationResponse'
        default:
          $ref: '#/components/responses/Error'
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<DraftReviewAndValidationResponse>> = fireblocks.policyEditorBeta.getDraft();'
      - lang: Java
        source: CompletableFuture<ApiResponse<DraftReviewAndValidationResponse>> response = fireblocks.policyEditorBeta().getDraft();
      - lang: Python
        source: response = fireblocks.policy_editor_beta.get_draft();
    put:
      operationId: updateDraft
      summary: Update the draft with a new set of rules
      description: 'Update the draft and return its validation. </br>

        **Note:** These endpoints are currently in beta and might be subject to changes.

        If you want to participate and learn more about the Fireblocks TAP, please contact your Fireblocks Customer Success
        Manager or send an email to CSM@fireblocks.com.

        Learn more about Fireblocks Transaction Authorization Policy in the following [guide](https://developers.fireblocks.com/docs/set-transaction-authorization-policy).

        </br>Endpoint Permission: Admin, Non-Signing Admin.'
      tags:
      - Policy Editor (Beta)
      parameters:
      - $ref: '#/components/parameters/X-Idempotency-Key'
      x-readme:
        code-samples:
        - language: javascript
          code: const policy = await fireblocks.updateDraft();
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<DraftReviewAndValidationResponse>> = fireblocks.policyEditorBeta.updateDraft(policyEditorBetaApiUpdateDraftRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<DraftReviewAndValidationResponse>> response = fireblocks.policyEditorBeta().updateDraft(policyRules,
            idempotencyKey);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.policy_editor_beta.update_draft(policy_rules, idempotency_key);
          name: Fireblocks SDK Python example
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyRules'
      responses:
        '200':
          description: A draft validation response object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftReviewAndValidationResponse'
        default:
          $ref: '#/components/responses/Error'
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<DraftReviewAndValidationResponse>> = fireblocks.policyEditorBeta.updateDraft(policyEditorBetaApiUpdateDraftRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<DraftReviewAndValidationResponse>> response = fireblocks.policyEditorBeta().updateDraft(policyRules,
          idempotencyKey);
      - lang: Python
        source: response = fireblocks.policy_editor_beta.update_draft(policy_rules, idempotency_key);
    post:
      operationId: publishDraft
      summary: Send publish request for a certain draft id
      description: 'Send publish request of certain draft id and returns the response. </br>

        **Note:** These endpoints are currently in beta and might be subject to changes.

        If you want to participate and learn more about the Fireblocks TAP, please contact your Fireblocks Customer Success
        Manager or send an email to CSM@fireblocks.com.

        </br>Endpoint Permission: Admin, Non-Signing Admin.'
      tags:
      - Policy Editor (Beta)
      x-readme:
        code-samples:
        - language: javascript
          code: const policy = await fireblocks.publishDraft();
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<PublishResult>> = fireblocks.policyEditorBeta.publishDraft(policyEditorBetaApiPublishDraftRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<PublishResult>> response = fireblocks.policyEditorBeta().publishDraft(publishDraftRequest,
            idempotencyKey);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.policy_editor_beta.publish_draft(publish_draft_request, idempotency_key);
          name: Fireblocks SDK Python example
      parameters:
      - $ref: '#/components/parameters/X-Idempotency-Key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishDraftRequestV2'
      responses:
        '201':
          description: A policy publish result object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishResult'
        default:
          $ref: '#/components/responses/Error'
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<PublishResult>> = fireblocks.policyEditorBeta.publishDraft(policyEditorBetaApiPublishDraftRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<PublishResult>> response = fireblocks.policyEditorBeta().publishDraft(publishDraftRequest,
          idempotencyKey);
      - lang: Python
        source: response = fireblocks.policy_editor_beta.publish_draft(publish_draft_request, idempotency_key);
  /tap/publish:
    post:
      operationId: publishPolicyRules
      summary: Send publish request for a set of policy rules
      description: 'Send publish request of set of policy rules and returns the response. </br>

        **Note:** These endpoints are currently in beta and might be subject to changes.

        If you want to participate and learn more about the Fireblocks TAP, please contact your Fireblocks Customer Success
        Manager or send an email to CSM@fireblocks.com.

        </br>Endpoint Permission: Admin, Non-Signing Admin.'
      tags:
      - Policy Editor (Beta)
      x-readme:
        code-samples:
        - language: javascript
          code: const policy = await fireblocks.publishRules();
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<PublishResult>> = fireblocks.policyEditorBeta.publishPolicyRules(policyEditorBetaApiPublishPolicyRulesRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<PublishResult>> response = fireblocks.policyEditorBeta().publishPolicyRules(policyRules,
            idempotencyKey);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.policy_editor_beta.publish_policy_rules(policy_rules, idempotency_key);
          name: Fireblocks SDK Python example
      parameters:
      - $ref: '#/components/parameters/X-Idempotency-Key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyRules'
      responses:
        '201':
          description: A policy publish result object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishResult'
        default:
          $ref: '#/components/responses/Error'
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<PublishResult>> = fireblocks.policyEditorBeta.publishPolicyRules(policyEditorBetaApiPublishPolicyRulesRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<PublishResult>> response = fireblocks.policyEditorBeta().publishPolicyRules(policyRules,
          idempotencyKey);
      - lang: Python
        source: response = fireblocks.policy_editor_beta.publish_policy_rules(policy_rules, idempotency_key);
  /policy/active_policy:
    get:
      operationId: getActiveV2Policy
      summary: Get the active policy and its validation by policy type
      description: '**Note:** This endpoint is currently in beta and subject to change. If you want to participate in the
        Policies beta, contact your Fireblocks Customer Success Manager or send an email to csm@fireblocks.com.


        Returns the active policy and its validation for a specific policy type.


        **Endpoint Permissions:** Owner, Admin, Non-Signing Admin.

        '
      tags:
      - Policy Editor V2 (Beta)
      x-rate-limit-category: query
      parameters:
      - name: policyType
        in: query
        required: true
        description: The policy type(s) to retrieve. Can be a single type or multiple types by repeating the parameter (e.g.,
          ?policyType=TRANSFER&policyType=MINT).
        schema:
          $ref: '#/components/schemas/PolicyTypeV2'
      x-readme:
        code-samples:
        - language: python
          code: '# Single policy type

            policy = fireblocks.get_active_policy(policyType="TRANSFER")

            # Multiple policy types

            policy = fireblocks.get_active_policy(policyType=["TRANSFER", "MINT"])

            '
          name: Fireblocks SDK Python example
        - language: javascript
          code: '// Single policy type

            const policy = await fireblocks.getActivePolicy({policyType: "TRANSFER"});

            // Multiple policy types

            const policy = await fireblocks.getActivePolicy({policyType: ["TRANSFER", "MINT"]});

            '
          name: Fireblocks SDK Javascript example
      responses:
        '200':
          description: A policy object with validation
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAndValidationResponseV2'
        default:
          $ref: '#/components/responses/Error'
  /policy/draft:
    get:
      operationId: getV2Draft
      summary: Get the active draft by policy type
      description: '**Note:** This endpoint is currently in beta and subject to change. If you want to participate in the
        Policies beta, contact your Fireblocks Customer Success Manager or send an email to csm@fireblocks.com.


        Returns the active draft and its validation for a specific policy type.


        **Endpoint Permissions:** Owner, Admin, Non-Signing Admin.

        '
      tags:
      - Policy Editor V2 (Beta)
      x-rate-limit-category: read
      parameters:
      - name: policyType
        in: query
        required: true
        description: The policy type(s) to retrieve. Can be a single type or multiple types by repeating the parameter (e.g.,
          ?policyType=TRANSFER&policyType=MINT).
        schema:
          $ref: '#/components/schemas/PolicyTypeV2'
      x-readme:
        code-samples:
        - language: python
          code: '# Single policy type

            draft = fireblocks.get_draft(policyType="TRANSFER")

            # Multiple policy types

            draft = fireblocks.get_draft(policyType=["TRANSFER", "MINT"])

            '
          name: Fireblocks SDK Python example
        - language: javascript
          code: '// Single policy type

            const draft = await fireblocks.getDraft({policyType: "TRANSFER"});

            // Multiple policy types

            const draft = await fireblocks.getDraft({policyType: ["TRANSFER", "MINT"]});

            '
          name: Fireblocks SDK Javascript example
      responses:
        '200':
          description: A draft validation response object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftReviewAndValidationResponseV2'
        default:
          $ref: '#/components/responses/Error'
    put:
      operationId: updateV2Draft
      summary: Update the draft with a new set of rules by policy types
      description: "**Note:** This endpoint is currently in beta and subject to change. If you want to participate in the\
        \ Policies beta, contact your Fireblocks Customer Success Manager or send an email to csm@fireblocks.com.\n\nUpdates\
        \ the draft and returns its validation for specific policy types.  \n\n**Endpoint Permissions:** Owner, Admin, Non-Signing\
        \ Admin.\n"
      tags:
      - Policy Editor V2 (Beta)
      x-rate-limit-category: write
      parameters:
      - $ref: '#/components/parameters/X-Idempotency-Key'
      x-readme:
        code-samples:
        - language: python
          code: 'draft = fireblocks.update_draft({"policyTypes": ["TRANSFER"], "rules": rules})

            '
          name: Fireblocks SDK Python example
        - language: javascript
          code: 'const draft = await fireblocks.updateDraft({policyTypes: ["TRANSFER"], rules: rules});

            '
          name: Fireblocks SDK Javascript example
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDraftRequestV2'
      responses:
        '200':
          description: A draft validation response object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftReviewAndValidationResponseV2'
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: publishV2Draft
      summary: Send publish request for a certain draft ID
      description: "**Note:** This endpoint is currently in beta and subject to change. If you want to participate in the\
        \ Policies beta, contact your Fireblocks Customer Success Manager or send an email to csm@fireblocks.com.\n\nPublishes\
        \ a draft policy by request, and returns the response.\n\n**Endpoint Permissions:** Owner, Admin, Non-Signing Admin.\
        \        \n"
      tags:
      - Policy Editor V2 (Beta)
      x-rate-limit-category: write
      x-readme:
        code-samples:
        - language: python
          code: 'policy = fireblocks.publish_draft({"policyTypes": ["TRANSFER"], "draftId": "draft-123"})

            '
          name: Fireblocks SDK Python example
        - language: javascript
          code: 'const policy = await fireblocks.publishDraft({policyTypes: ["TRANSFER"], draftId: "draft-123"});

            '
          name: Fireblocks SDK Javascript example
      parameters:
      - $ref: '#/components/parameters/X-Idempotency-Key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishDraftRequestV2'
      responses:
        '201':
          description: A policy publish result object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishResultV2'
        default:
          $ref: '#/components/responses/Error'
components:
  schemas:
    AccountConfigV2:
      type: object
      description: Policy source/destination configuration
      properties:
        type:
          $ref: '#/components/schemas/AccountTypeV2'
        subType:
          type: array
          items:
            $ref: '#/components/schemas/AccountIdentifierV2'
        ids:
          type: array
          items:
            $ref: '#/components/schemas/AccountIdentifierV2'
        operator:
          $ref: '#/components/schemas/PolicyOperatorV2'
        matchFrom:
          type: string
          enum:
          - ACCOUNT
          - SOURCE
          description: Whether to match from account or source
      example: ACCOUNT
      required:
      - type
      - operator
    AccountIdentifierV2:
      type: object
      description: Account identifier with type, ID, subtype, and address
      properties:
        type:
          $ref: '#/components/schemas/AccountTypeV2'
        id:
          type: string
          description: Account ID
          example: account123
        subType:
          type: string
          description: Account subtype
          example: INTERNAL
        address:
          type: string
          description: Account address
          example: 0x123...
      required:
      - type
    AccountTypeV2:
      type: string
      enum:
      - EXCHANGE
      - UNMANAGED
      - VAULT
      - GLOBAL_WHITELIST
      - NETWORK_CONNECTION
      - FIAT_ACCOUNT
      - CONNECTED_ACCOUNT
      - ONE_TIME_ADDRESS
      - SRC_DST_NA
      - MULTIPLE_VENUES
      - END_USER_WALLET
      - OEC_PARTNER
      - CONTRACT
      - INTERNAL
      - EXTERNAL
      - DAPP_CONNECTION
      - UNKNOWN
      - '*'
      - ANY
      description: Type of account
      example: VAULT
    AmlRegistrationResultFullPayload:
      type: object
      properties:
        provider:
          type: string
        success:
          type: boolean
        timestamp:
          type: number
    AmlVerdictManualRequest:
      type: object
      required:
      - verdict
      - txId
      properties:
        verdict:
          type: string
          enum:
          - ACCEPT
          - REJECT
          description: The AML verdict to set for the transaction.
          example: ACCEPT
        txId:
          type: string
          format: uuid
          description: The transaction ID to set the verdict for.
          example: 550e8400-e29b-41d4-a716-446655440000
    AmlVerdictManualResponse:
      type: object
      required:
      - success
      - message
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: AML verdict set successfully
    AmountAggregationTimePeriodMethod:
      type: string
      enum:
      - PER_SINGLE_MATCH
      - ACROSS_ALL_MATCHES
      description: '* PER_SINGLE_MATCH - Apply the limit to each listed entity

        * ACROSS_ALL_MATCHES - Apply the limit to the sum of all listed entities

        '
    AmountOverTimeConfigV2:
      type: object
      description: Amount over time configuration
      properties:
        range:
          type: object
          description: Amount range configuration
          properties:
            min:
              type: string
              description: Minimum amount
              example: '100'
            max:
              type: string
              description: Maximum amount (optional)
              example: '10000'
          required:
          - min
        currency:
          type: string
          enum:
          - NATIVE
          - USD
          - EUR
          description: Currency for the amount
          example: USD
        timePeriod:
          $ref: '#/components/schemas/TimePeriodConfigV2'
      required:
      - range
      - timePeriod
    AmountRangeV2:
      type: object
      description: Amount range configuration
      properties:
        min:
          type: string
          description: Minimum amount
          example: '100'
        max:
          type: string
          description: Maximum amount
          example: '10000'
        currency:
          type: string
          description: Currency for the amount
          example: USD
      required:
      - min
      - max
      - currency
      example:
        min: '100'
        max: '10000'
        currency: USD
    ApproversConfigV2:
      type: object
      description: Approvers configuration
      properties:
        canInitiatorApprove:
          type: boolean
          description: Whether initiator can approve
          example: false
        operator:
          type: string
          enum:
          - AND
          - OR
          description: Operator for approval groups
          example: AND
        allowOperatorAsAuthorizer:
          type: boolean
          description: Whether operator can be authorizer
          example: false
        approvalGroups:
          type: array
          items:
            type: object
            properties:
              threshold:
                type: number
                description: Approval threshold
                example: 2
              users:
                $ref: '#/components/schemas/PolicyUserIdsV2'
              groups:
                $ref: '#/components/schemas/PolicyGroupIdsV2'
            required:
            - threshold
          description: List of approval groups
          example:
          - threshold: 2
            users:
            - user1
            - user2
    AssetConfigV2:
      type: object
      description: Policy asset configuration
      properties:
        nftTransfer:
          type: boolean
          description: Whether this is an NFT transfer
          example: false
        assetTypes:
          $ref: '#/components/schemas/AssetTypesConfigV2'
        operator:
          $ref: '#/components/schemas/PolicyOperatorV2'
      required:
      - nftTransfer
    AssetTypesConfigV2:
      type: array
      items:
        oneOf:
        - type: string
        - enum:
          - '*'
      description: List of asset types
      example:
      - FUNGIBLE
      - NFT
      - '*'
    ComplianceResultFullPayload:
      type: object
      description: The result of the Compliance AML/Travel Rule screening.
      properties:
        aml:
          type: object
          description: The end result of the AML screening.
          items:
            $ref: '#/components/schemas/ComplianceScreeningResultFullPayload'
        tr:
          type: object
          description: The result of the Travel Rule screening.
          items:
            $ref: '#/components/schemas/ComplianceScreeningResultFullPayload'
        amlList:
          type: array
          description: The list of all results of the AML screening.
          items:
            $ref: '#/components/schemas/ComplianceScreeningResultFullPayload'
        status:
          type: string
          description: Status of compliance result screening.
          enum:
          - Started
          - NetworkConnectionAddressResolve
          - ScreeningPrepare
          - AMLStarted
          - AMLCompleted
          - AMLFailed
          - AMLInBackground
          - TRPreconditionChecks
          - TRStarted
          - TRCompleted
          - TRFailed
          - Completed
          - IncomingStarted
          - IncomingScreeningPrepare
          - IncomingWaitForFirstConfirmation
          - AMLIncomingStarted
          - AMLIncomingCompleted
          - AMLIncomingFailed
          - AMLIncomingInBackground
          - TRIncomingStarted
          - TRIncomingCompleted
          - TRIncomingFailed
          - IncomingCompleted
        amlRegistration:
          type: object
          description: The results of the AML address registration.
          items:
            $ref: '#/components/schemas/AmlRegistrationResultFullPayload'
    ComplianceScreeningResultFullPayload:
      type: object
      properties:
        provider:
          type: string
        payload:
          type: object
          description: 'The payload of the screening result.

            The payload is a JSON object that contains the screening result.

            The payload is different for each screening provider.

            '
        bypassReason:
          type: string
        screeningStatus:
          type: string
          enum:
          - COMPLETED
          - PENDING
          - BYPASSED
          - FAILED
          - FROZEN
        timestamp:
          type: number
          format: date-time
    ContractMethodConfigV2:
      type: object
      description: Contract method configuration
      properties:
        methodCalls:
          type: array
          items:
            type: string
        operator:
          type: string
          enum:
          - EITHER
          - EXACT
          description: Operator for method calls
          example: EITHER
        payloadSuffix:
          type: string
          description: Payload suffix for method calls
          example: 0x123...
      required:
      - methodCalls
      - operator
      example:
        methodCalls:
        - transfer
        - approve
        operator: EITHER
    ContractMethodPatternV2:
      oneOf:
      - type: string
        enum:
        - '*'
        description: All methods allowed
        example: '*'
      - $ref: '#/components/schemas/ContractMethodConfigV2'
    CreateTransactionResponse:
      type: object
      properties:
        id:
          type: string
          description: Unique Fireblocks identifier of the transaction
        status:
          type: string
          description: The primary status of the transaction. For details, see [Primary transaction statuses.] (https://developers.fireblocks.com/reference/primary-transaction-statuses)
        systemMessages:
          $ref: '#/components/schemas/SystemMessageInfo'
    DerivationPathConfigV2:
      type: object
      description: Derivation path configuration
      properties:
        path:
          type: array
          items:
            type: number
          description: Derivation path as array of numbers
          example:
          - 44
          - 0
          - 0
          - 0
          - 0
        partial:
          type: boolean
          description: Whether this is a partial path
          example: false
      required:
      - path
      example:
        path:
        - 44
        - 0
        - 0
        - 0
        - 0
        partial: false
    DesignatedSignersConfigV2:
      type: object
      description: Designated signers configuration
      properties:
        type:
          type: string
          enum:
          - SINGLE
          - MULTIPLE
          - INITIATOR
          description: Type of designated signers
          example: SINGLE
        users:
          $ref: '#/components/schemas/PolicyUserIdsV2'
        groups:
          $ref: '#/components/schemas/PolicyGroupIdsV2'
      required:
      - type
    DestinationConfigV2:
      type: object
      description: Destination configuration for policy rules
      properties:
        type:
          $ref: '#/components/schemas/AccountTypeV2'
        subType:
          type: array
          items:
            $ref: '#/components/schemas/AccountIdentifierV2'
        ids:
          type: array
          items:
            $ref: '#/components/schemas/AccountIdentifierV2'
        operator:
          $ref: '#/components/schemas/PolicyOperatorV2'
        matchFrom:
          type: string
          enum:
          - ACCOUNT
          - SOURCE
          description: Whether to match from account or source
          example: ACCOUNT
        addressType:
          type: string
          enum:
          - ALL
          - '*'
          - WHITELISTED
          - ONE_TIME
          - OEC_PARTNER
          description: Type of destination addresses allowed
          example: WHITELISTED
      required:
      - type
      - operator
      - addressType
      example:
        type:
        - EXTERNAL
        operator: INCLUDES
        addressType: WHITELISTED
    DraftResponse:
      type: object
      description: Response object for draft operations
      properties:
        status:
          type: string
          description: Operation status
        rules:
          type: array
          description: Draft rules
          items:
            $ref: '#/components/schemas/PolicyRule'
        draftId:
          type: string
          description: Draft unique id
        metadata:
          $ref: '#/components/schemas/PolicyMetadata'
      required:
      - draftId
      - status
      - rules
      - metadata
    DraftResponseV2:
      type: object
      description: Response object for draft operations
      properties:
        status:
          type: string
          description: Operation status
        rules:
          type: array
          description: Draft rules
          items:
            $ref: '#/components/schemas/PolicyRuleV2'
        draftId:
          type: string
          description: Draft unique id
        metadata:
          $ref: '#/components/schemas/PolicyMetadataV2'
      required:
      - draftId
      - status
      - rules
      - metadata
    DraftReviewAndValidationResponse:
      type: object
      description: Draft validation
      properties:
        draftResponse:
          $ref: '#/components/schemas/DraftResponse'
        validation:
          $ref: '#/components/schemas/PolicyValidation'
      required:
      - draftResponse
      - validation
    DraftReviewAndValidationResponseV2:
      type: object
      description: Draft validation
      properties:
        draftResponse:
          $ref: '#/components/schemas/DraftResponseV2'
        validation:
          $ref: '#/components/schemas/PolicyValidationV2'
      required:
      - draftResponse
      - validation
    ErrorSchema:
      type: object
      properties:
        message:
          type: string
        code:
          type: number
    InitiatorConfigPatternV2:
      oneOf:
      - type: string
        enum:
        - '*'
        description: All users are allowed
        example: '*'
      - $ref: '#/components/schemas/InitiatorConfigV2'
    InitiatorConfigV2:
      type: object
      description: Policy rule initiator configuration
      properties:
        users:
          $ref: '#/components/schemas/PolicyUserIdsV2'
        groups:
          $ref: '#/components/schemas/PolicyGroupIdsV2'
        services:
          type: array
          items:
            type: string
        fbAdminGroups:
          type: array
          items:
            type: string
        exchange:
          type: array
          items:
            type: string
        operator:
          $ref: '#/components/schemas/PolicyOperatorV2'
      required:
      - operator
    PolicyAndValidationResponse:
      type: object
      description: Policy validation
      properties:
        policy:
          $ref: '#/components/schemas/PolicyResponse'
        validation:
          $ref: '#/components/schemas/PolicyValidation'
      required:
      - policy
      - validation
    PolicyAndValidationResponseV2:
      type: object
      description: Policy validation
      properties:
        policy:
          $ref: '#/components/schemas/PolicyResponseV2'
        validation:
          $ref: '#/components/schemas/PolicyValidationV2'
      required:
      - policy
      - validation
    PolicyCheckResult:
      type: object
      description: Policy rules validation result
      properties:
        errors:
          type: number
          description: Number of errors
        result:
          type: array
          description: A set of validation results
          items:
            $ref: '#/components/schemas/PolicyRuleCheckResult'
      required:
      - errors
      - result
    PolicyCheckResultV2:
      type: object
      description: Policy rules validation result
      properties:
        errors:
          type: number
          description: Number of errors
        results:
          type: array
          description: A set of validation results
          items:
            $ref: '#/components/schemas/PolicyRuleCheckResultV2'
      required:
      - errors
      - results
    PolicyGroupIdsV2:
      type: array
      items:
        type: string
      description: List of policy group IDs
      example:
      - group1
      - group2
    PolicyMetadata:
      type: object
      description: Policy related metadata
      properties:
        editedBy:
          type: string
          description: The user id of the user who last edited the policy
        editedAt:
          type: string
          description: The timestamp of the last edit of the policy
        publishedBy:
          type: string
          description: The user id of the user who last published the policy
        publishedAt:
          type: string
          description: The timestamp of the last publish of the policy
    PolicyMetadataV2:
      type: object
      description: Policy metadata
      properties:
        editedBy:
          type: string
          description: The user ID of the user who last edited the policy
          example: user123
        editedAt:
          type: string
          description: The timestamp of the last edit of the policy
          example: '2024-01-15T10:30:00Z'
        publishedBy:
          type: string
          description: The user ID of the user who last published the policy
          example: user456
        publishedAt:
          type: string
          description: The timestamp of the last publish of the policy
          example: '2024-01-15T11:00:00Z'
        policyType:
          $ref: '#/components/schemas/PolicyTypeV2'
      required:
      - policyType
    PolicyOperatorV2:
      type: string
      enum:
      - INCLUDES
      - EXCLUDES
      description: Operator for selection
      example: INCLUDES
    PolicyResponse:
      type: object
      description: Response object for policy operations
      properties:
        rules:
          type: array
          description: A set of policy rules
          items:
            $ref: '#/components/schemas/PolicyRule'
        metadata:
          $ref: '#/components/schemas/PolicyMetadata'
      required:
      - rules
      - metadata
    PolicyResponseV2:
      type: object
      description: Response object for policy operations
      properties:
        rules:
          type: array
          description: A set of policy rules
          items:
            $ref: '#/components/schemas/PolicyRuleV2'
        metadata:
          $ref: '#/components/schemas/PolicyMetadataV2'
      required:
      - rules
      - metadata
    PolicyRule:
      type: object
      description: Policy rule which is enforced on transactions
      properties:
        operator:
          type: string
          description: (deprecated - replaced by "operators")  | Defines users who can initiate the type of transaction to
            which the rule applies. options are * "*" - All users are allowed * Specific User id
          deprecated: true
        operators:
          type: object
          description: Defines users/groups who can initiate the type of transaction to which the rule applies.
          properties:
            wildcard:
              type: string
              enum:
              - '*'
              description: 'If used then this property should appear as the only child property

                * "*" - All users are allowed

                '
            users:
              type: array
              description: Set of users ids
              items:
                type: string
            usersGroups:
              type: array
              description: Set of group ids
              items:
                type: string
            services:
              type: array
              description: set of services to initiate transactions
              items:
                type: string
        transactionType:
          type: string
          enum:
          - TRANSFER
          - CONTRACT_CALL
          - PROGRAM_CALL
          - APPROVE
          - MINT
          - BURN
          - SUPPLY
          - REDEEM
          - STAKE
          - RAW
          - TYPED_MESSAGE
          description: "Defines the type of transaction to which the rule applies.\n  * TRANSFER - Default. Transfers funds\
            \ from one account to another\n  * CONTRACT_CALL - Calls a smart contract, mainly for DeFi operations.\n  * PROGRAM_CALL\
            \ - Calls a smart contract for web3 operations on the Solana blockchain. \n  * APPROVE - Allows a smart contract\
            \ to withdraw from a designated wallet.\n  * MINT - Perform a mint operation (increase supply) on a supported\
            \ token\n  * BURN - Perform a burn operation (reduce supply) on a supported token\n  * SUPPLY - Use for DeFi to\
            \ lend assets\n  * REDEEM - Use for DeFi to get lending back\n  * STAKE - Allows you to allocate and lock certain\
            \ assets for earning staking rewards.\n  * RAW - An off-chain message with no predefined format, use it to sign\
            \ any message with your private key.\n  * TYPED_MESSAGE - An off-chain message type that follows a predefined\
            \ format, used to sign specific messages that are not actual transactions.\n"
        designatedSigner:
          type: string
          description: (deprecated - replaced by "designatedSigners") Id representing the user who signs transactions that
            match a specific rule
          deprecated: true
        designatedSigners:
          type: object
          description: Set of ids representing the users who signs transactions that match a specific rule
          properties:
            users:
              type: array
              description: Set of users ids
              items:
                type: string
            usersGroups:
              type: array
              description: Set of group ids
              items:
                type: string
        type:
          type: string
          description: Policy rule type
          enum:
          - TRANSFER
        action:
          type: string
          enum:
          - ALLOW
          - BLOCK
          - 2-TIER
          description: "Defines what occurs when a transaction meets the rule's criteria\n* ALLOW - The transaction goes through\
            \ and can be signed without requiring additional approvals\n* BLOCK - The transaction is automatically blocked\n\
            * 2-TIER - Only these users or user groups can approve \n           If any of them reject the transaction before\
            \ the required approval threshold is met, the transaction doesn't go through\n           The list of entities\
            \ are set is \"authorizationGroups\" field\n"
        asset:
          type: string
          description: 'Defines the type of asset being transacted, options are

            * "*" - All assets

            * Specific asset

            '
        srcType:
          description: (deprecated - replaced by "src") source account type
          deprecated: true
          allOf:
          - $ref: '#/components/schemas/PolicySrcOrDestType'
        srcSubType:
          description: (deprecated - replaced by "src") source sub account type
          deprecated: true
          allOf:
          - $ref: '#/components/schemas/PolicySrcOrDestSubType'
        srcId:
          description: (deprecated - replaced by "src") source account id
          deprecated: true
          allOf:
          - $ref: '#/components/schemas/PolicySrcOrDestId'
        src:
          type: object
          description: Defines source accounts the rule allows transfers to originate from
          properties:
            ids:
              type: array
              description: A set of ids in a tuple format
              items:
                $ref: '#/components/schemas/SrcOrDestAttributes'
        dstType:
          description: (deprecated - replaced by "dst") destination account type
          deprecated: true
          allOf:
          - $ref: '#/components/schemas/PolicySrcOrDestType'
        dstSubType:
          description: (deprecated - replaced by "dst") destination sub account type
          deprecated: true
          allOf:
          - $ref: '#/components/schemas/PolicySrcOrDestSubType'
        dstId:
          description: (deprecated - replaced by "dst") destination account id
          deprecated: true
          allOf:
          - $ref: '#/components/schemas/PolicySrcOrDestId'
        dst:
          type: object
          description: Defines the destination accounts the rule allows transfers to
          properties:
            ids:
              type: array
              description: A set of ids in a tuple format
              items:
                $ref: '#/components/schemas/SrcOrDestAttributes'
        dstAddressType:
          type: string
          enum:
          - WHITELISTED
          - ONE_TIME
          - '*'
          description: "Defines whether the destination to which you are sending funds must be whitelisted, to allow one-time\
            \ transfers to non-whitelisted external addresses, or both.\nBy default, you can only transfer to an external\
            \ address after it\u2019s whitelisted.\n  * WHITELISTED - Can only be sent to whitelisted addresses.\n  * ONE_TIME\
            \ - Can only be sent to non-whitelisted external addresses.\n  * \"*\" - can be sent to whitelisted addresses\
            \ or non-whitelisted external\n"
        amountCurrency:
          type: string
          enum:
          - USD
          - EUR
          - NATIVE
          description: '* USD - Limits the amount of any asset users can transfer based on the USD equivalent of the asset.

            * EUR - Limits the amount of any asset users can transfer based on the EURO equivalent of the asset.

            * NATIVE - Limits the amount of an asset a user can transfer when using a specific asset.

            '
        amountScope:
          type: string
          enum:
          - SINGLE_TX
          - TIMEFRAME
          description: '* SINGLE_TX - limit applies to a single transaction

            * TIMEFRAME - limit applies to all transactions within the defined time period

            '
        amount:
          description: Defines the value a transaction must exceed for the rule to apply to it (according to the amountCurrency
            field)
          anyOf:
          - type: string
            description: Numeric string (recommended)
          - type: number
            description: Number (deprecated)
        periodSec:
          type: number
          description: 'Time period in seconds applied by the amountScope field to accumulate transferred amounts in transactions
            that match the rule, until the total exceeds the value you specify under Minimum.

            When the specified amount is reached within that period, whether by one or many transactions, further transactions
            in that period either fail or require more approvals.

            '
        authorizers:
          type: array
          description: (deprecated - replaced by "authorizationGroups") Allowed entities which can approves a transaction
          deprecated: true
          items:
            type: string
        authorizersCount:
          type: number
          description: (deprecated - replaced by "authorizationGroups") Min amount of entities which are needed to approve
            a transaction
          deprecated: true
        authorizationGroups:
          type: object
          description: Defines the transaction approval terms
          properties:
            logic:
              type: string
              enum:
              - AND
              - OR
              description: '* AND - requires approval of all authorization groups

                * OR - requires approval of at least one of the authorization groups

                '
            allowOperatorAsAuthorizer:
              type: boolean
              description: Defines whether the user who initiates a transaction can approve their own transaction and count
                toward the approval threshold for their transaction
            groups:
              type: array
              description: Groups of entities which can approve the transaction
              items:
                type: object
                properties:
                  users:
                    type: array
                    description: User ids
                    items:
                      type: string
                  usersGroups:
                    type: array
                    description: Group ids
                    items:
                      type: string
                  th:
                    type: number
                    description: Represents the min amount of entities which are required to approve the transaction, default
                      is 1.
        amountAggregation:
          type: object
          description: 'Defines the method by which the Policy Engine calculates accumulation.

            It uses the Initiator, Source, and Destination to calculate accumulation toward the value under Minimum, for the
            time under Time Period.

            '
          properties:
            operators:
              $ref: '#/components/schemas/AmountAggregationTimePeriodMethod'
            srcTransferPeers:
              $ref: '#/components/schemas/AmountAggregationTimePeriodMethod'
            dstTransferPeers:
              $ref: '#/components/schemas/AmountAggregationTimePeriodMethod'
        rawMessageSigning:
          type: object
          description: Raw message signing configuration
          properties:
            algorithm:
              type: string
            derivationPath:
              type: object
              properties:
                path:
                  type: array
                  items:
                    type: number
        applyForApprove:
          type: boolean
          description: Applying this rule over APPROVE type transactions (can only be enabled when rule's transaction type
            is TRANSFER)
        applyForTypedMessage:
          type: boolean
          description: Applying this rule over TYPED_MESSAGE type transactions (can only be enabled when rule's transaction
            type is CONTRACT_CALL)
        externalDescriptor:
          type: string
          description: A unique id identifying the rule
      required:
      - type
      - action
      - asset
      - amountCurrency
      - amountScope
      - amount
      - periodSec
    PolicyRuleCheckResult:
      type: object
      description: The rule validation result
      properties:
        index:
          type: number
          description: Rule index number in the policy
        status:
          type: string
          description: Validation status
          enum:
          - ok
          - failure
        errors:
          type: array
          description: A set of rule validation error objects
          items:
            $ref: '#/components/schemas/PolicyRuleError'
      required:
      - index
      - status
      - errors
    PolicyRuleCheckResultV2:
      type: object
      description: The rule validation result
      properties:
        index:
          type: number
          description: Rule index number in the policy
        status:
          type: string
          description: Validation status
          enum:
          - ok
          - failure
        errors:
          type: array
          description: A set of rule validation error objects
          items:
            $ref: '#/components/schemas/PolicyRuleErrorV2'
      required:
      - index
      - status
      - errors
    PolicyRuleError:
      type: object
      description: Rule validation result error
      properties:
        errorMessage:
          type: string
          description: Error message
        errorCode:
          type: number
          description: error code
        errorCodeName:
          type: string
          description: error code name
        errorField:
          type: string
          enum:
          - operator
          - operators
          - authorizationGroups
          - designatedSigner
          - designatedSigners
          - contractMethods
          - amountAggregation
          - src
          - dst
          description: 'The field which the error relates to

            * operator - transaction initiator

            * operators - transaction initiators

            * authorizationGroups - transaction authorizer groups

            * designatedSigner - transaction signer

            * designatedSigners - transaction signers

            * contractMethods - contract methods

            * amountAggregation - transaction amount aggregation configuration

            * src - transaction source asset configuration

            * dst - transaction destination asset configuration

            '
      required:
      - errorMessage
      - errorCode
      - errorCodeName
      - errorField
    PolicyRuleErrorV2:
      type: object
      description: Rule validation result error
      properties:
        errorMessage:
          type: string
          description: Error message
        errorCode:
          type: number
          description: error code
        errorCodeName:
          type: string
          description: error code name
        errorField:
          type: string
          enum:
          - operator
          - operators
          - authorizationGroups
          - designatedSigner
          - designatedSigners
          - contractMethods
          - amountAggregation
          - src
          - dst
          description: 'The field which the error relates to:

            * operator - transaction initiator

            * operators - transaction initiators

            * authorizationGroups - transaction authorizer groups

            * designatedSigner - transaction signer

            * designatedSigners - transaction signers

            * contractMethods - contract methods

            * amountAggregation - transaction amount aggregation configuration

            * src - transaction source asset configuration

            * dst - transaction destination asset configuration

            '
      required:
      - errorMessage
      - errorCode
      - errorCodeName
      - errorField
    PolicyRuleV2:
      type: object
      description: V2 Policy rule which is enforced on transactions
      properties:
        name:
          type: string
          description: Name of the policy rule
          example: High Value Transfer Policy
        id:
          type: string
          description: Unique identifier for the policy rule
          example: policy_rule_001
        policyEngineVersion:
          type: string
          enum:
          - v2
          description: Policy engine version
          example: v2
        type:
          $ref: '#/components/schemas/PolicyTypeV2'
        subType:
          $ref: '#/components/schemas/PolicyTypeV2'
        initiator:
          $ref: '#/components/schemas/InitiatorConfigPatternV2'
        asset:
          $ref: '#/components/schemas/AssetConfigV2'
        source:
          $ref: '#/components/schemas/AccountConfigV2'
        destination:
          $ref: '#/components/schemas/DestinationConfigV2'
        account:
          $ref: '#/components/schemas/AccountConfigV2'
        verdict:
          $ref: '#/components/schemas/VerdictConfigV2'
        amountOverTime:
          $ref: '#/components/schemas/AmountOverTimeConfigV2'
        amount:
          $ref: '#/components/schemas/AmountRangeV2'
        externalDescriptor:
          type: string
          description: External descriptor for the rule
          example: High value transfer policy for institutional clients
        method:
          $ref: '#/components/schemas/ContractMethodPatternV2'
        isGlobalPolicy:
          type: boolean
          description: Whether this is a global policy
          example: false
        programCall:
          $ref: '#/components/schemas/ProgramCallConfigV2'
        screeningMetadata:
          $ref: '#/components/schemas/ScreeningMetadataConfigV2'
        quoteAsset:
          $ref: '#/components/schemas/AssetConfigV2'
        baseAsset:
          $ref: '#/components/schemas/AssetConfigV2'
        quoteAmount:
          $ref: '#/components/schemas/AmountRangeV2'
        baseAmount:
          $ref: '#/components/schemas/AmountRangeV2'
        derivationPath:
          $ref: '#/components/schemas/DerivationPathConfigV2'
        index:
          type: number
          description: Index for the policy rule
          example: 1
      required:
      - name
      - id
      - policyEngineVersion
      - type
      - initiator
      - asset
      - source
      - verdict
    PolicyRules:
      type: object
      properties:
        rules:
          description: Policy rules
[...]
