openapi: 3.0.0
info:
  title: Fireblocks Blockchains and Assets Approval Requests Webhooks API
  description: 'Fireblocks provides a suite of applications to manage digital asset operations and a complete development platform to build your business on the blockchain.


    - Visit our website for more information: [Fireblocks Website](https://fireblocks.com)

    - Visit our developer docs: [Fireblocks DevPortal](https://developers.fireblocks.com)

    '
  version: 1.8.0
  contact:
    email: developers@fireblocks.com
servers:
- url: https://api.fireblocks.io/v1
  description: Fireblocks Production Environment Base URL
- url: https://sandbox-api.fireblocks.io/v1
  description: Fireblocks Sandbox Environment Base URL
security: []
tags:
- name: Webhooks
paths:
  /webhooks/resend:
    post:
      summary: Resend failed webhooks
      description: '**Deprecation notice:** Webhooks v1 will be deprecated in March 2026. Please use the Developer Center in the Fireblocks Console to upgrade to Webhooks v2, which offers improved reliability, performance, and observability.


        Resends all failed webhook notifications.


        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor.

        '
      tags:
      - Webhooks
      x-readme:
        code-samples:
        - language: javascript
          code: const result = await fireblocks.resendWebhooks();
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<ResendWebhooksResponse>> = fireblocks.webhooks.resendWebhooks(webhooksApiResendWebhooksRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<ResendWebhooksResponse>> response = fireblocks.webhooks().resendWebhooks(idempotencyKey);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.webhooks.resend_webhooks(idempotency_key);
          name: Fireblocks SDK Python example
      parameters:
      - $ref: '#/components/parameters/X-Idempotency-Key'
      responses:
        '200':
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResendWebhooksResponse'
        default:
          $ref: '#/components/responses/Error'
      operationId: resendWebhooks
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<ResendWebhooksResponse>> = fireblocks.webhooks.resendWebhooks(webhooksApiResendWebhooksRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<ResendWebhooksResponse>> response = fireblocks.webhooks().resendWebhooks(idempotencyKey);
      - lang: Python
        source: response = fireblocks.webhooks.resend_webhooks(idempotency_key);
  /webhooks/resend/{txId}:
    post:
      summary: Resend webhooks for a transaction by ID
      description: '**Deprecation notice:** Webhooks v1 will be deprecated in March 2026. Please use the Developer Center in the Fireblocks Console to upgrade to Webhooks v2, which offers improved reliability, performance, and observability.


        Resends webhook notifications for a transaction by its unique identifier.


        **Endpoint Permissions:** Admin, Non-Signing Admin, Signer, Approver, Editor.

        '
      tags:
      - Webhooks
      x-readme:
        code-samples:
        - language: javascript
          code: const result = await fireblocks.resendTransactionWebhooksById(txId, resendCreated, resendStatusUpdated);
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<ResendWebhooksByTransactionIdResponse>> = fireblocks.webhooks.resendTransactionWebhooks(webhooksApiResendTransactionWebhooksRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<ResendWebhooksByTransactionIdResponse>> response = fireblocks.webhooks().resendTransactionWebhooks(resendTransactionWebhooksRequest, txId, idempotencyKey);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.webhooks.resend_transaction_webhooks(resend_transaction_webhooks_request, tx_id, idempotency_key);
          name: Fireblocks SDK Python example
      parameters:
      - in: path
        name: txId
        required: true
        description: The ID of the transaction for webhooks
        schema:
          type: string
      - $ref: '#/components/parameters/X-Idempotency-Key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendTransactionWebhooksRequest'
      responses:
        '200':
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResendWebhooksByTransactionIdResponse'
        default:
          $ref: '#/components/responses/Error'
      operationId: resendTransactionWebhooks
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<ResendWebhooksByTransactionIdResponse>> = fireblocks.webhooks.resendTransactionWebhooks(webhooksApiResendTransactionWebhooksRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<ResendWebhooksByTransactionIdResponse>> response = fireblocks.webhooks().resendTransactionWebhooks(resendTransactionWebhooksRequest, txId, idempotencyKey);
      - lang: Python
        source: response = fireblocks.webhooks.resend_transaction_webhooks(resend_transaction_webhooks_request, tx_id, idempotency_key);
components:
  responses:
    Error:
      description: Error Response
      headers:
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorSchema'
  parameters:
    X-Idempotency-Key:
      name: Idempotency-Key
      in: header
      description: A unique identifier for the request. If the request is sent multiple times with the same idempotency key, the server will return the same response as the first request. The idempotency key is valid for 24 hours.
      required: false
      schema:
        type: string
        example: some-unique-id
  schemas:
    ResendWebhooksByTransactionIdResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Indicates whether the webhooks were successfully resent
      required:
      - success
    ResendTransactionWebhooksRequest:
      type: object
      properties:
        resendCreated:
          type: boolean
        resendStatusUpdated:
          type: boolean
    ResendWebhooksResponse:
      type: object
      properties:
        messagesCount:
          description: The amount of resent notifications
          type: number
          example: 1
  securitySchemes:
    bearerTokenAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
