openapi: 3.0.0
info:
  title: Fireblocks Blockchains and Assets Approval Requests Compliance API
  description: 'Fireblocks provides a suite of applications to manage digital asset operations and a complete development platform to build your business on the blockchain.


    - Visit our website for more information: [Fireblocks Website](https://fireblocks.com)

    - Visit our developer docs: [Fireblocks DevPortal](https://developers.fireblocks.com)

    '
  version: 1.8.0
  contact:
    email: developers@fireblocks.com
servers:
- url: https://api.fireblocks.io/v1
  description: Fireblocks Production Environment Base URL
- url: https://sandbox-api.fireblocks.io/v1
  description: Fireblocks Sandbox Environment Base URL
security: []
tags:
- name: Compliance
paths:
  /screening/travel_rule/transaction/validate:
    post:
      operationId: validateTravelRuleTransaction
      summary: Validate Travel Rule Transaction
      description: 'Validate Travel Rule transactions.

        Checks what beneficiary VASP details are required by your jurisdiction and the beneficiary''s jurisdiction.

        **Deprecation Notice** This endpoint will be deprecated soon in favor of the [validate full](https://developers.fireblocks.com/reference/validatefulltravelruletransaction) endpoint. Please update your integrations to use the  [validate full](https://developers.fireblocks.com/reference/validatefulltravelruletransaction) endpoint to ensure compatibility with future releases.

        Checks what beneficiary VASP details are required by your jurisdiction and the beneficiary''s jurisdiction.

        Learn more about Fireblocks Travel Rule management in the following [guide](https://developers.fireblocks.com/docs/define-travel-rule-policies).


        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.'
      parameters:
      - name: notation
        in: query
        description: 'Specifies the notation of the transaction. Possible values are: - `notabene`: Uses Notabene notation (default behavior). - `fireblocks`: Uses Fireblocks notation, with automatic translation of asset tickers and amounts. - `<none>`: Defaults to `notabene` for backward compatibility.

          **Note:** The default value for the `notation` parameter will change from `notabene` to `fireblocks` Update your integrations accordingly.'
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/X-Idempotency-Key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TravelRuleValidateTransactionRequest'
      responses:
        '200':
          description: Transaction validated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TravelRuleValidateTransactionResponse'
        '400':
          description: Invalid request body
        '500':
          description: Internal server error
      tags:
      - Compliance
      x-readme:
        code-samples:
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<TravelRuleValidateTransactionResponse>> = fireblocks.travelRuleBeta.validateTravelRuleTransaction(travelRuleBetaApiValidateTravelRuleTransactionRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<TravelRuleValidateTransactionResponse>> response = fireblocks.travelRuleBeta().validateTravelRuleTransaction(travelRuleValidateTransactionRequest, idempotencyKey);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.travel_rule_beta.validate_travel_rule_transaction(travel_rule_validate_transaction_request, idempotency_key);
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<TravelRuleValidateTransactionResponse>> = fireblocks.travelRuleBeta.validateTravelRuleTransaction(travelRuleBetaApiValidateTravelRuleTransactionRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<TravelRuleValidateTransactionResponse>> response = fireblocks.travelRuleBeta().validateTravelRuleTransaction(travelRuleValidateTransactionRequest, idempotencyKey);
      - lang: Python
        source: response = fireblocks.travel_rule_beta.validate_travel_rule_transaction(travel_rule_validate_transaction_request, idempotency_key);
  /screening/travel_rule/transaction/validate/full:
    post:
      operationId: validateFullTravelRuleTransaction
      summary: Validate Full Travel Rule Transaction
      description: 'Validate Full Travel Rule transaction.

        Checks for all required information on the originator and beneficiary VASPs.

        Learn more about Fireblocks Travel Rule management in the following [guide](https://developers.fireblocks.com/docs/define-travel-rule-policies).


        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.'
      parameters:
      - name: notation
        in: query
        description: 'Specifies the notation of the transaction. Possible values are

          - `notabene`: Uses Notabene notation (default behavior).

          - `fireblocks`: Uses Fireblocks notation, with automatic translation of asset tickers and amounts.

          - `<none>`: Defaults to `notabene` for backward compatibility.


          **Note:** The default value for the `notation` parameter will change from

          `notabene` to `fireblocks` Update your integrations accordingly.

          '
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/X-Idempotency-Key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TravelRuleValidateFullTransactionRequest'
      responses:
        '200':
          description: Transaction validated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TravelRuleValidateTransactionResponse'
        '400':
          description: Invalid request body
        '500':
          description: Internal server error
      tags:
      - Compliance
      x-readme:
        code-samples:
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<TravelRuleValidateTransactionResponse>> = fireblocks.travelRuleBeta.validateFullTravelRuleTransaction(travelRuleBetaApiValidateFullTravelRuleTransactionRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<TravelRuleValidateTransactionResponse>> response = fireblocks.travelRuleBeta().validateFullTravelRuleTransaction(travelRuleValidateFullTransactionRequest, idempotencyKey);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.travel_rule_beta.validate_full_travel_rule_transaction(travel_rule_validate_full_transaction_request, idempotency_key);
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<TravelRuleValidateTransactionResponse>> = fireblocks.travelRuleBeta.validateFullTravelRuleTransaction(travelRuleBetaApiValidateFullTravelRuleTransactionRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<TravelRuleValidateTransactionResponse>> response = fireblocks.travelRuleBeta().validateFullTravelRuleTransaction(travelRuleValidateFullTransactionRequest, idempotencyKey);
      - lang: Python
        source: response = fireblocks.travel_rule_beta.validate_full_travel_rule_transaction(travel_rule_validate_full_transaction_request, idempotency_key);
  /screening/travel_rule/vasp/{did}:
    get:
      operationId: getVASPByDID
      summary: Get VASP details
      description: 'Get VASP Details.

        Returns information about a VASP that has the specified DID.

        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.'
      parameters:
      - name: did
        required: true
        in: path
        schema:
          type: string
      - name: fields
        required: false
        in: query
        description: CSV of fields to return (all, "blank" or see list of all field names below)
        schema:
          type: string
      responses:
        '200':
          description: Transaction validated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TravelRuleVASP'
        '400':
          description: Invalid request body
        '500':
          description: Internal server error
      tags:
      - Compliance
      x-readme:
        code-samples:
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<TravelRuleVASP>> = fireblocks.travelRuleBeta.getVASPByDID(travelRuleBetaApiGetVASPByDIDRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<TravelRuleVASP>> response = fireblocks.travelRuleBeta().getVASPByDID(did, fields);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.travel_rule_beta.get_v_a_s_p_by_d_i_d(did, fields);
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<TravelRuleVASP>> = fireblocks.travelRuleBeta.getVASPByDID(travelRuleBetaApiGetVASPByDIDRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<TravelRuleVASP>> response = fireblocks.travelRuleBeta().getVASPByDID(did, fields);
      - lang: Python
        source: response = fireblocks.travel_rule_beta.get_v_a_s_p_by_d_i_d(did, fields);
  /screening/travel_rule/vasp:
    get:
      operationId: getVASPs
      summary: Get All VASPs
      description: 'Get All VASPs.

        Returns a list of VASPs. VASPs can be searched and sorted and results are paginated.

        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.'
      parameters:
      - name: order
        required: false
        in: query
        description: Field to order by
        schema:
          type: string
      - name: per_page
        required: false
        in: query
        description: Records per page
        schema:
          type: number
      - name: page
        required: false
        in: query
        description: Page number
        schema:
          type: number
      - name: fields
        required: false
        in: query
        description: CSV of fields to return (all, "blank" or see list of all field names below)
        schema:
          type: string
      - name: q
        required: false
        in: query
        description: Search query
        schema:
          type: string
      - name: reviewValue
        required: false
        in: query
        description: 'Filter by the VASP''s review status. Possible values include: "TRUSTED", "BLOCKED", "MANUAL", or "NULL". When provided, only VASPs that match the specified reviewValue will be returned (i.e., VASPs that have already been reviewed to this status).'
        schema:
          type: string
      responses:
        '200':
          description: Get all VASPs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TravelRuleGetAllVASPsResponse'
      tags:
      - Compliance
      x-readme:
        code-samples:
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<TravelRuleGetAllVASPsResponse>> = fireblocks.travelRuleBeta.getVASPs(travelRuleBetaApiGetVASPsRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<TravelRuleGetAllVASPsResponse>> response = fireblocks.travelRuleBeta().getVASPs(order, perPage, page, fields);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.travel_rule_beta.get_v_a_s_ps(order, per_page, page, fields);
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<TravelRuleGetAllVASPsResponse>> = fireblocks.travelRuleBeta.getVASPs(travelRuleBetaApiGetVASPsRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<TravelRuleGetAllVASPsResponse>> response = fireblocks.travelRuleBeta().getVASPs(order, perPage, page, fields);
      - lang: Python
        source: response = fireblocks.travel_rule_beta.get_v_a_s_ps(order, per_page, page, fields);
  /screening/travel_rule/vasp/update:
    put:
      operationId: updateVasp
      summary: Update VASP Details
      description: 'Updates a VASP with the provided parameters. Use this endpoint to add your public jsonDIDkey generated by Notabene.

        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.'
      parameters:
      - $ref: '#/components/parameters/X-Idempotency-Key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TravelRuleUpdateVASPDetails'
      responses:
        '200':
          description: VASP updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TravelRuleUpdateVASPDetails'
        '400':
          description: Invalid request body
        '500':
          description: Internal server error
      tags:
      - Compliance
      x-readme:
        code-samples:
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<TravelRuleUpdateVASPDetails>> = fireblocks.travelRuleBeta.updateVasp(travelRuleBetaApiUpdateVaspRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<TravelRuleUpdateVASPDetails>> response = fireblocks.travelRuleBeta().updateVasp(travelRuleUpdateVASPDetails, idempotencyKey);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.travel_rule_beta.update_vasp(travel_rule_update_v_a_s_p_details, idempotency_key);
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<TravelRuleUpdateVASPDetails>> = fireblocks.travelRuleBeta.updateVasp(travelRuleBetaApiUpdateVaspRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<TravelRuleUpdateVASPDetails>> response = fireblocks.travelRuleBeta().updateVasp(travelRuleUpdateVASPDetails, idempotencyKey);
      - lang: Python
        source: response = fireblocks.travel_rule_beta.update_vasp(travel_rule_update_v_a_s_p_details, idempotency_key);
  /screening/travel_rule/post_screening_policy:
    get:
      operationId: getPostScreeningPolicy
      summary: Travel Rule - View Post-Screening Policy
      description: 'Get the post-screening policy for Travel Rule.

        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.'
      parameters: []
      responses:
        '200':
          description: Post-screening policy retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreeningPolicyResponse'
      tags:
      - Compliance
      x-readme:
        code-samples:
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<ScreeningPolicyResponse>> = fireblocks.compliance.getPostScreeningPolicy();'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<ScreeningPolicyResponse>> response = fireblocks.compliance().getPostScreeningPolicy();
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.compliance.get_post_screening_policy();
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<ScreeningPolicyResponse>> = fireblocks.compliance.getPostScreeningPolicy();'
      - lang: Java
        source: CompletableFuture<ApiResponse<ScreeningPolicyResponse>> response = fireblocks.compliance().getPostScreeningPolicy();
      - lang: Python
        source: response = fireblocks.compliance.get_post_screening_policy();
  /screening/travel_rule/screening_policy:
    get:
      operationId: getScreeningPolicy
      summary: Travel Rule - View Screening Policy
      description: 'Get the screening policy for Travel Rule.

        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.'
      parameters: []
      responses:
        '200':
          description: Screening policy retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreeningProviderRulesConfigurationResponse'
      tags:
      - Compliance
      x-readme:
        code-samples:
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<ScreeningProviderRulesConfigurationResponse>> = fireblocks.compliance.getScreeningPolicy();'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<ScreeningProviderRulesConfigurationResponse>> response = fireblocks.compliance().getScreeningPolicy();
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.compliance.get_screening_policy();
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<ScreeningProviderRulesConfigurationResponse>> = fireblocks.compliance.getScreeningPolicy();'
      - lang: Java
        source: CompletableFuture<ApiResponse<ScreeningProviderRulesConfigurationResponse>> response = fireblocks.compliance().getScreeningPolicy();
      - lang: Python
        source: response = fireblocks.compliance.get_screening_policy();
  /screening/travel_rule/vault/{vaultAccountId}/vasp:
    get:
      summary: Get assigned VASP to vault
      description: "Get assigned VASP DID for a specific vault. \nReturns empty `vaspDid` string value in response if none assigned.\n"
      tags:
      - Compliance
      x-readme:
        code-samples:
        - language: javascript
          code: const vaultAsset = await fireblocks.getVaspForVault(vaultAccountId);
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<TravelRuleVaspForVault>> = fireblocks.travelRuleBeta.getVaspForVault(travelRuleBetaApiGetVaspForVaultRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<TravelRuleVaspForVault>> response = fireblocks.travelRuleBeta().getVaspForVault(vaultAccountId);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.travel_rule_beta.get_vasp_for_vault(vault_account_id);
          name: Fireblocks SDK Python example
      parameters:
      - in: path
        name: vaultAccountId
        required: true
        description: The ID of the vault account
        example: 1
        schema:
          type: string
          format: numeric
          x-fb-entity: vault_account
      responses:
        '200':
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TravelRuleVaspForVault'
        default:
          $ref: '#/components/responses/Error'
      operationId: getVaspForVault
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<TravelRuleVaspForVault>> = fireblocks.travelRuleBeta.getVaspForVault(travelRuleBetaApiGetVaspForVaultRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<TravelRuleVaspForVault>> response = fireblocks.travelRuleBeta().getVaspForVault(vaultAccountId);
      - lang: Python
        source: response = fireblocks.travel_rule_beta.get_vasp_for_vault(vault_account_id);
    post:
      summary: Assign VASP to vault
      description: "Sets the VASP DID for a specific vault. \nPass empty string to remove an existing one.\n"
      tags:
      - Compliance
      x-readme:
        code-samples:
        - language: javascript
          code: const vaultAsset = await fireblocks.setVaspForVault(vaultAccountId, vaspDid);
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<TravelRuleVaspForVault>> = fireblocks.travelRuleBeta.setVaspForVault(travelRuleBetaApiSetVaspForVaultRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<TravelRuleVaspForVault>> response = fireblocks.travelRuleBeta().setVaspForVault(travelRuleVaspForVault, vaultAccountId, idempotencyKey);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.travel_rule_beta.set_vasp_for_vault(travel_rule_vasp_for_vault, vault_account_id, idempotency_key);
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<TravelRuleVaspForVault>> = fireblocks.travelRuleBeta.setVaspForVault(travelRuleBetaApiSetVaspForVaultRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<TravelRuleVaspForVault>> response = fireblocks.travelRuleBeta().setVaspForVault(travelRuleVaspForVault, vaultAccountId, idempotencyKey);
      - lang: Python
        source: response = fireblocks.travel_rule_beta.set_vasp_for_vault(travel_rule_vasp_for_vault, vault_account_id, idempotency_key);
      parameters:
      - in: path
        name: vaultAccountId
        required: true
        description: The ID of the vault account
        schema:
          type: string
          format: numeric
          x-fb-entity: vault_account
      - $ref: '#/components/parameters/X-Idempotency-Key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TravelRuleVaspForVault'
      responses:
        '201':
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TravelRuleVaspForVault'
        default:
          $ref: '#/components/responses/Error'
      operationId: setVaspForVault
  /screening/travel_rule/policy_configuration:
    get:
      operationId: getScreeningConfiguration
      summary: Get Travel Rule Screening Policy Configuration
      description: 'Retrieves the configuration for Travel Rule screening policy.

        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.'
      parameters: []
      responses:
        '200':
          description: Screening policy configuration retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreeningConfigurationsRequest'
      tags:
      - Compliance
      x-readme:
        code-samples:
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<ScreeningConfigurationsRequest>> = fireblocks.complianceScreeningConfiguration.getScreeningConfiguration();'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<ScreeningConfigurationsRequest>> response = fireblocks.complianceScreeningConfiguration().getScreeningConfiguration();
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.compliance_screening_configuration.get_screening_configuration();
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<ScreeningConfigurationsRequest>> = fireblocks.complianceScreeningConfiguration.getScreeningConfiguration();'
      - lang: Java
        source: CompletableFuture<ApiResponse<ScreeningConfigurationsRequest>> response = fireblocks.complianceScreeningConfiguration().getScreeningConfiguration();
      - lang: Python
        source: response = fireblocks.compliance_screening_configuration.get_screening_configuration();
    put:
      operationId: updateTravelRuleConfig
      summary: Update Travel Rule Configuration
      description: 'Updates bypass screening, inbound delay, or outbound delay configurations for Travel Rule.

        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.'
      parameters:
      - $ref: '#/components/parameters/X-Idempotency-Key'
      responses:
        '200':
          description: Configuration updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreeningConfigurationsRequest'
      tags:
      - Compliance
      x-readme:
        code-samples:
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<ScreeningConfigurationsRequest>> = fireblocks.compliance.updateTravelRuleConfig(complianceApiUpdateTravelRuleConfigRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<ScreeningConfigurationsRequest>> response = fireblocks.compliance().updateTravelRuleConfig(idempotencyKey);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.compliance.update_travel_rule_config(idempotency_key);
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<ScreeningConfigurationsRequest>> = fireblocks.compliance.updateTravelRuleConfig(complianceApiUpdateTravelRuleConfigRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<ScreeningConfigurationsRequest>> response = fireblocks.compliance().updateTravelRuleConfig(idempotencyKey);
      - lang: Python
        source: response = fireblocks.compliance.update_travel_rule_config(idempotency_key);
  /screening/aml/policy_configuration:
    get:
      operationId: getAmlScreeningConfiguration
      summary: Get AML Screening Policy Configuration
      description: 'Retrieves the configuration for Travel Rule screening policy.

        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.'
      parameters: []
      responses:
        '200':
          description: Screening policy configuration retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreeningConfigurationsRequest'
      tags:
      - Compliance
      x-readme:
        code-samples:
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<ScreeningConfigurationsRequest>> = fireblocks.complianceScreeningConfiguration.getAmlScreeningConfiguration();'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<ScreeningConfigurationsRequest>> response = fireblocks.complianceScreeningConfiguration().getAmlScreeningConfiguration();
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.compliance_screening_configuration.get_aml_screening_configuration();
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<ScreeningConfigurationsRequest>> = fireblocks.complianceScreeningConfiguration.getAmlScreeningConfiguration();'
      - lang: Java
        source: CompletableFuture<ApiResponse<ScreeningConfigurationsRequest>> response = fireblocks.complianceScreeningConfiguration().getAmlScreeningConfiguration();
      - lang: Python
        source: response = fireblocks.compliance_screening_configuration.get_aml_screening_configuration();
    put:
      operationId: updateAmlScreeningConfiguration
      summary: Update AML Configuration
      description: 'Updates bypass screening, inbound delay, or outbound delay configurations for AML.

        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.'
      parameters:
      - $ref: '#/components/parameters/X-Idempotency-Key'
      responses:
        '200':
          description: Configuration updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreeningConfigurationsRequest'
      tags:
      - Compliance
      x-readme:
        code-samples:
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<ScreeningConfigurationsRequest>> = fireblocks.compliance.updateAmlScreeningConfiguration(complianceApiUpdateAmlScreeningConfigurationRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<ScreeningConfigurationsRequest>> response = fireblocks.compliance().updateAmlScreeningConfiguration(idempotencyKey);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.compliance.update_aml_screening_configuration(idempotency_key);
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<ScreeningConfigurationsRequest>> = fireblocks.compliance.updateAmlScreeningConfiguration(complianceApiUpdateAmlScreeningConfigurationRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<ScreeningConfigurationsRequest>> response = fireblocks.compliance().updateAmlScreeningConfiguration(idempotencyKey);
      - lang: Python
        source: response = fireblocks.compliance.update_aml_screening_configuration(idempotency_key);
  /screening/aml/screening_policy:
    get:
      operationId: getAmlScreeningPolicy
      summary: AML - View Screening Policy
      description: 'Get the screening policy for AML.

        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.'
      parameters: []
      responses:
        '200':
          description: Screening policy retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreeningProviderRulesConfigurationResponse'
      tags:
      - Compliance
      x-readme:
        code-samples:
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<ScreeningProviderRulesConfigurationResponse>> = fireblocks.compliance.getAmlScreeningPolicy();'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<ScreeningProviderRulesConfigurationResponse>> response = fireblocks.compliance().getAmlScreeningPolicy();
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.compliance.get_aml_screening_policy();
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<ScreeningProviderRulesConfigurationResponse>> = fireblocks.compliance.getAmlScreeningPolicy();'
      - lang: Java
        source: CompletableFuture<ApiResponse<ScreeningProviderRulesConfigurationResponse>> response = fireblocks.compliance().getAmlScreeningPolicy();
      - lang: Python
        source: response = fireblocks.compliance.get_aml_screening_policy();
  /screening/aml/post_screening_policy:
    get:
      operationId: getAmlPostScreeningPolicy
      summary: AML - View Post-Screening Policy
      description: 'Get the post-screening policy for AML.

        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.'
      parameters: []
      responses:
        '200':
          description: Post-screening policy retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreeningPolicyResponse'
      tags:
      - Compliance
      x-readme:
        code-samples:
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<ScreeningPolicyResponse>> = fireblocks.compliance.getAmlPostScreeningPolicy();'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<ScreeningPolicyResponse>> response = fireblocks.compliance().getAmlPostScreeningPolicy();
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.compliance.get_aml_post_screening_policy();
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<ScreeningPolicyResponse>> = fireblocks.compliance.getAmlPostScreeningPolicy();'
      - lang: Java
        source: CompletableFuture<ApiResponse<ScreeningPolicyResponse>> response = fireblocks.compliance().getAmlPostScreeningPolicy();
      - lang: Python
        source: response = fireblocks.compliance.get_aml_post_screening_policy();
  /screening/configurations:
    put:
      operationId: updateScreeningConfiguration
      summary: Screening Configuration Update
      description: 'Update Tenant screening configuration.

        Learn more about Fireblocks AML management in the following [guide](https://developers.fireblocks.com/docs/define-aml-policies).

        </br>Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.'
      parameters:
      - $ref: '#/components/parameters/X-Idempotency-Key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScreeningUpdateConfigurations'
      responses:
        '200':
          description: Tenant Screening configuration updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreeningUpdateConfigurations'
      tags:
      - Compliance
      x-readme:
        code-samples:
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<ScreeningUpdateConfigurations>> = fireblocks.compliance.updateScreeningConfiguration(complianceApiUpdateScreeningConfigurationRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<ScreeningUpdateConfigurations>> response = fireblocks.compliance().updateScreeningConfiguration(screeningUpdateConfigurations, idempotencyKey);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.compliance.update_screening_configuration(screening_update_configurations, idempotency_key);
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<ScreeningUpdateConfigurations>> = fireblocks.compliance.updateScreeningConfiguration(complianceApiUpdateScreeningConfigurationRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<ScreeningUpdateConfigurations>> response = fireblocks.compliance().updateScreeningConfiguration(screeningUpdateConfigurations, idempotencyKey);
      - lang: Python
        source: response = fireblocks.compliance.update_screening_configuration(screening_update_configurations, idempotency_key);
  /screening/transaction/{txId}/bypass_screening_policy:
    post:
      operationId: retryRejectedTransactionBypassScreeningChecks
      summary: Bypass Screening Policy
      description: 'This endpoint is restricted to Admin API users and is only applicable to outgoing transactions.

        Calling the "Bypass Screening Policy" API endpoint triggers a new transaction, with the API user as the initiator, bypassing the screening policy check

        </br>Endpoint Permission: Admin and Non-Signing Admin.'
      parameters:
      - in: path
        name: txId
        required: true
        description: The transaction id that was rejected by screening checks
        example: 550e8400-e29b-41d4-a716-446655440000
        schema:
          type: string
      - $ref: '#/components/parameters/X-Idempotency-Key'
      responses:
        '201':
          description: A transaction object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTransactionResponse'
        default:
          $ref: '#/components/responses/Error'
      tags:
      - Compliance
      x-readme:
        code-samples:
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<CreateTransactionResponse>> = fireblocks.compliance.retryRejectedTransactionBypassScreeningChecks(complianceApiRetryRejectedTransactionBypassScreeningChecksRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<CreateTransactionResponse>> response = fireblocks.compliance().retryRejectedTransactionBypassScreeningChecks(txId, idempotencyKey);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.compliance.retry_rejected_transaction_bypass_screening_checks(tx_id, idempotency_key);
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<CreateTransactionResponse>> = fireblocks.compliance.retryRejectedTransactionBypassScreeningChecks(complianceApiRetryRejectedTransactionBypassScreeningChecksRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<CreateTransactionResponse>> response = fireblocks.compliance().retryRejectedTransactionBypassScreeningChecks(txId, idempotencyKey);
      - lang: Python
        source: response = fireblocks.compliance.retry_rejected_transaction_bypass_screening_checks(tx_id, idempotency_key);
  /screening/transaction/{txId}:
    get:
      operationId: getScreeningFullDetails
      summary: Get Screening Full Details
      description: 'Provides all the compliance details for the given screened transaction.

        </br>Endpoint Permission: All users.'
      parameters:
      - in: path
        name: txId
        required: true
        description: Fireblocks transaction ID of the screened transaction
        example: 550e8400-e29b-41d4-a716-446655440000
        schema:
          type: string
      responses:
        '200':
          description: A compliance object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceResultFullPayload'
        default:
          $ref: '#/components/responses/Error'
      tags:
      - Compliance
      x-readme:
        code-samples:
        - language: typescript
          code: 'const response: Promise<FireblocksResponse<ComplianceResultFullPayload>> = fireblocks.compliance.getScreeningFullDetails(complianceApiGetScreeningFullDetailsRequest);'
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<ComplianceResultFullPayload>> response = fireblocks.compliance().getScreeningFullDetails(txId);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.compliance.get_screening_full_details(tx_id);
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: 'const response: Promise<FireblocksResponse<ComplianceResultFullPayload>> = fireblocks.compliance.getScreeningFullDetails(complianceApiGetScreeningFullDetailsRequest);'
      - lang: Java
        source: CompletableFuture<ApiResponse<ComplianceResultFullPayload>> response = fireblocks.compliance().getScreeningFullDetails(txId);
      - lang: Python
        source: response = fireblocks.compliance.get_screening_full_details(tx_id);
  /screening/aml/verdict/manual:
    post:
      operationId: setAmlVerdict
      summary: Set AML verdict for Manual Screening Verdict
      description: Set AML verdict for incoming transactions when the Manual Screening Verdict feature is enabled.
      parameters:
      - $ref: '#/components/parameters/X-Idempotency-Key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AmlVerdictManualRequest'
      responses:
        '200':
          description: AML verdict set successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AmlVerdictManualResponse'
        '400':
          description: Feature not enabled for tenant.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
        '425':
          description: Too Early - transaction not yet in pending screening.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
        '500':
          description: Internal server error.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
        default:
          $ref: '#/components/responses/Error'
      tags:
      - Compliance
      x-rate-limit-category: write
components:
  schemas:
    TravelRuleIssuer:
      type: object
      properties:
        issuerDid:
          type: string
      required:
      - issuerDid
    CreateTransactionResponse:
      type: object
      properties:
        id:
          type: string
          description: Unique Fireblocks identifier of the transaction
        status:
          type: string
          description: The primary status of the transaction. For details, see [Primary transaction statuses.] (https://developers.fireblocks.com/reference/primary-transaction-statuses)
        systemMessages:
          $ref: '#/components/schemas/SystemMessageInfo'
    TravelRuleVaspForVault:
      type: object
      properties:
        vaspDid:
          description: VASP DID
          type: string
          example: did:ethr:0x5dddec8dd669c49304ddbcba36ccc6e0798534dc
    TravelRuleNationalIdentification:
      type: object
      description: Represents a national identifier for a person or entity
      properties:
        countryOfIssue:
          type: string
          description: Country that issued the national identifier (ISO-3166 Alpha-2 country code). The value must be encrypted.
          example: QmRGHdoxQfSi6tevyvaYGzs8BVStfqJqEyrMYqUfzXxkmm
        nationalIdentifier:
          type: string
          description: National identifier (max 35 characters). The value must be encrypted.
          example: QmdR6qLnZ7Kwf5cBaXG8QFQenEvRg9JNZeoPranVuGd63z
        nationalIdentifierType:
          type: string
          description: 'Type of national identifier. Acceptable values include: - ''PASSPORT'': Passport number - ''NATIONAL_ID'': National identification number - ''TAX_ID'': Tax identification number - ''SOCIAL_SECURITY'': Social security number The value must be encrypted.'
          example: QmUKTg3aFJFhMz1o9gPqA3MgTRwd2LvDLwWTPHYUoMEYVi
        registrationAuthority:
          type: string
          description: Registration authority (format -> RA followed by 6 digits). The value must be encrypted.
          example: QmV9KJMyT9RJzpYfhME5xNCZ4G67fEkzTpRMyJzp9kTNYk
    TravelRuleVASP:
      type: object
      properties:
        did:
          type: string
        name:
          type: string
        verificationStatus:
          type: string
        addressLine1:
          type: string
        addressLine2:
          type: string
        city:
          type: string
        country:
          type: string
        emailDomains:
          type: string
        website:
          type: string
        logo:
          type: string
        legalStructure:
          type: string
        legalName:
          type: string
        yearFounded:
          type: string
        incorporationCountry:
          type: string
        isRegulated:
          type: string
        otherNames:
          type: string
        identificationType:
          type: string
        identificationCountry:
          type: string
        businessNumber:
          type: string
        regulatoryAuthorities:
          type: string
        jurisdictions:
          type: string
        street:
          type: string
        number:
          type: string
        unit:
          type: string
        postCode:
          type: string
        state:
          type: string
        certificates:
          type: string
        description:
          type: string
        travelRule_OPENVASP:
          type: string
        travelRule_SYGNA:
          type: string
        travelRule_TRISA:
          type: string
        travelRule_TRLIGHT:
          type: string
        travelRule_EMAIL:
          type: string
        travelRule_TRP:
          type: string
        travelRule_SHYFT:
          type: string
        travelRule_USTRAVELRULEWG:
          type: string
        createdAt:
          type: string
        createdBy:
          type: string
        updatedAt:
          type: string
        updatedBy:
          type: string
        lastSentDate:
          type: string
        lastReceivedDate:
          type: string
        documents:
          type: string
        hasAdmin:
          type: boolean
        isNotifiable:
          type: boolean
        issuers:
          $ref: '#/components/schemas/TravelRuleIssuers'
      required:
      - did
      - name
      - verificationStatus
      - addressLine1
      - addressLine2
      - city
      - country
      - emailDomains
      - website
      - logo
      - legalStructure
      - legalName
      - yearFounded
      - incorporationCountry
      - isRegulated
      - otherNames
      - identificationType
      - identificationCountry
      - businessNumber
      - regulatoryAuthorities
      - jurisdictions
      - street
      - number
      - unit
      - postCode
      - state
      - certificates
      - description
      - travelRule_OPENVASP
      - travelRule_SYGNA
      - travelRule_TRISA
      - travelRule_TRLIGHT
      - travelRule_EMAIL
      - travelRule_TRP
      - travelRule_SHYFT
      - travelRule_USTRAVELRULEWG
      - createdAt
      - createdBy
      - updatedAt
      - updatedBy
      - lastSentDate
      - lastReceivedDate
      - documents
      - hasAdmin
      - isNotifiable
      - issuers
    TravelRuleValidateFullTransactionRequest:
      type: object
      properties:
        originatorVASPdid:
          type: string
          description: The Decentralized Identifier (DID) of the exchange (VASP) that is sending the virtual assets. This identifier is unique to the exchange and is generated when the exchange's account is  created in the Notabene network.
          example: did:ethr:0x44957e75d6ce4a5bf37aae117da86422c848f7c2
        beneficiaryVASPdid:
          type: string
          description: The Decentralized Identifier (DID) of the exchange (VASP) that is receiving the virtual assets. This identifier is unique to the exchange and is generated when the exchange's account is  created in the Notabene network.
          example: did:ethr:0x17fe2dd11a2daa7f6c1fdf22532a4763f963aea6
        transactionAsset:
          type: string
          description: "Transaction asset symbol (e.g., BTC, ETH, USDC). \nBy using the `notation` query string, users can select the type of asset notation \n- `fireblocks`: Converts asset symbols to Fireblocks notation. \n- `notabene`: Retains the original Notabene asset symbol format.\n"
          example: BTC
        transactionAmount:
          type: string
          description: "Transaction amount in the transaction asset. For example, if the asset is BTC, the amount \nis the value in BTC units. \nBy using the `notation` query string, users can select the type of amount notation\n- `fireblocks`: Converts the amount to Fireblocks notation (e.g., adjusted for decimals).\n- `notabene`: Retains the original Notabene amount format.\n"
          example: '10'
        originatorVASPname:
          type: string
          description: The name of the VASP acting as the transaction originator.
          example: Originator VASP Ltd.
        beneficiaryVASPname:
          type: string
          description: The name of the VASP acting as the transaction beneficiary.
          example: Beneficiary VASP Inc.
        transactionBlockchainInfo:
          description: Information about the blockchain transaction.
          allOf:
          - $ref: '#/components/schemas/TravelRuleTransactionBlockchainInfo'
        originator:
          description: Information about the originator of the transaction.
          allOf:
          - $ref: '#/components/schemas/TravelRuleValidatePiiIVMS'
        beneficiary:
          description: Information about the beneficiary of the transaction.
          allOf:
          - $ref: '#/components/schemas/TravelRuleValidatePiiIVMS'
        encrypted:
          type: string
          description: Encrypted data related to the transaction.
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        protocol:
          type: string
          description: The protocol used to perform the travel rule.
          example: IVMS101
        skipBeneficiaryDataValidation:
          type: boolean
          description: Whether to skip validation of beneficiary data.
          example: false
        travelRuleBehavior:
          type: boolean
          description: Whether to check if the transaction complies with the travel rule in the beneficiary VASP's jurisdiction.
          example: true
        originatorRef:
          type: string
          description: A reference ID related to the originator of the transaction.
          example: ORG123456
        beneficiaryRef:
          type: string
          description: A reference ID related to the beneficiary of the transaction.
          example: BEN654321
        travelRuleBehaviorRef:
          type: string
          description: A reference ID related to the travel rule behavior.
          example: TRB987654
        originatorProof:
          description: Ownership proof related to the originator of the transaction.
          allOf:
          - $ref: '#/components/schemas/TravelRuleOwnershipProof'
        beneficiaryProof:
          description: Ownership proof related to the beneficiary of the transaction.
          allOf:
          - $ref: '#/components/schemas/TravelRuleOwnershipProof'
        beneficiaryDid:
          type: string
          description: "The Decentralized Identifier (DID) of the person at the receiving exchange (VASP).  This identifier is generated when the customer is registered in the Notabene network,  or automatically created based on the `beneficiaryRef`.  - If neither `beneficiaryRef` nor `beneficiaryDid` is provided in the `txCreate` payload, \n  a new random DID is generated for every transaction."
          example: did:key:z6Mkf67890Zghijkl67890
        originatorDid:
          type: string
          description: "The Decentralized Identifier (DID) of the person at the exchange (VASP) who is requesting the withdrawal. This identifier is generated when the customer is registered in the Notabene network or automatically created based on the `originatorRef`.  - If neither `originatorRef` nor `originatorDid` is provided in the `txCreate` payload, \n  a new random DID is generated for every transaction."
          example: did:key:z6Mkf12345Zabcdef12345
        isNonCustodial:
          type: boolean
          description: Indicates if the transaction involves a non-custodial wallet.
          example: true
        notificationEmail:
          type: string
          description: The email address where a notification should be sent upon completion of the travel rule
        pii:
          description: Personal identifiable information related to the transaction
          allOf:
          - $ref: '#/components/schemas/TravelRulePiiIVMS'
        pii_url:
          type: string
          description: The URL of the personal identifiable information related to the transaction
      required:
      - originator
      - beneficiary
    TravelRuleUpdateVASPDetails:
      type: object
      properties:
        did:
          type: string
          example: did:ethr:0x44957e75d6ce4a5bf37aae117da86422c848f7c2
          description: The decentralized identifier of the VASP
        pii_didkey:
          type: string
          example: did:key:z6Mks5CZRaiooKYhq5TwtXQC1gWhwiZnmiKfFrMnYY62MhYf
          description: The PII DID key of the VASP
      required:
      - did
      - pii_didkey
    ScreeningUpdateConfigurations:
      type: object
      properties:
        disableBypass:
          type: boolean
          description: Flag to enable or disable bypass screening on workspace configuration.
        disableUnfreeze:
          type: boolean
          description: Flag to enable or disable unfreeze of transaction frozen by policy rule on workspace configuration.
    TravelRulePerson:
      type: object
      properties:
        naturalPerson:
          type: object
          allOf:
          - $ref: '#/components/schemas/TravelRuleNaturalPerson'
        legalPerson:
          type: object
          allOf:
          - $ref: '#/components/schemas/TravelRuleLegalPerson'
    TravelRuleNaturalPerson:
      type: object
      properties:
        name:
          type: array
          items:
            $ref: '#/components/schemas/TravelRuleNaturalPersonNameIdentifier'
          description: An array of structured name identifiers for the natural person, referencing the TravelRuleNaturalPersonNameIdentifier schema.
        geographicAddress:
          type: array
          items:
            $ref: '#/components/schemas/TravelRuleGeographicAddress'
          description: An array of geographic addresses associated with the natural person, referencing the TravelRuleGeographicAddress schema.
        nationalIdentification:
          allOf:
          - $ref: '#/components/schemas/TravelRuleNationalIdentification'
          description: The national identification of the natural person, referencing the TravelRuleNationalIdentification schema.
        dateAndPlaceOfBirth:
          allOf:
          - $ref: '#/components/schemas/TravelRuleDateAndPlaceOfBirth'
          description: The date and place of birth of the natural person, referencing the TravelRuleDateAndPlaceOfBirth schema.
        customerIdentification:
          type: string
          description: A unique identifier for the customer within the organization's context. The value must be encrypted.
          example: QmTJsK3sc3fPEVwvAp97UUiVoFhjzQhYX3sCda1JxuCnXj
        countryOfResidence:
          type: string
          description: The ISO-3166 Alpha-2 country code of the natural person's residence. The value must be encrypted.
          example: QmTJsK3sc3fPEVwvAp97UUiVoFhjzQhYX3sCda1JxuCnXj
        customerNumber:
          type: string
          description: A distinct identifier that uniquely identifies the customer within the organization. The value must be encrypted.
          example: QmTJsK3sc3fPEVwvAp97UUiVoFhjzQhYX3sCda1JxuCnXj
    ScreeningPolicyResponse:
      type: object
      properties:
        policy:
          $ref: '#/components/schemas/TravelRulePolicyRuleResponse'
        policyStatus:
          type: string
        isDefault:
          type: boolean
        createDate:
          format: date-time
          type: string
        lastUpdate:
          format: date-time
          type: string
      required:
      - policy
      - isDefault
      - lastUpdate
    AmlVerdictManualResponse:
      type: object
      required:
      - success
      - message
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: AML verdict set successfully
    TravelRuleValidatePerson:
      type: object
      properties:
        naturalPerson:
          type: object
          allOf:
          - $ref: '#/components/schemas/TravelRuleValidateNaturalPerson'
        legalPerson:
          type: object
          allOf:
          - $ref: '#/components/schemas/TravelRuleValidateLegalPerson'
    ScreeningProviderRulesConfigurationResponse:
      type: object
      properties:
        direction:
          type: string
          enum:
          - INBOUND
          - OUTBOUND
        status:
          type: string
          enum:
          - COMPLETED
          - PENDING
          - REJECTED
          - FAILED
          - CANCELED
          - BLOCKING_TIME_EXPIRED
        amountUSD:
          type: number
        amount:
          type: number
        asset:
          type: string
        action:
          type: string
          enum:
          - ACCEPT
          - REJECT
          - ALERT
          - WAIT
          - FREEZE
          - CANCEL
      required:
      - action
    TravelRuleAddress:
      type: object
      properties:
        street:
          type: string
          example: 1234 Example St
          description: Street address
        city:
          type: string
          example: New York
          description: City
        state:
          type: string
          example: NY
          description: State or province
        postalCode:
          type: string
          example: '10001'
          description: Postal or ZIP code
      required:
      - street
      - city
      - state
      - postalCode
    TravelRuleGetAllVASPsResponse:
      type: object
      properties:
        vasps:
          type: array
          items:
            $ref: '#/components/schemas/TravelRuleVASP'
      required:
      - vasps
    TravelRuleValidateTransactionResponse:
      type: object
      properties:
        isValid:
          type: boolean
          description: '"isValid" will tell you if you have collected all the information needed for the travel rule data transfer. Once this field = "true", you can move on to the next step which is to transfer the front-end information to your back-end and perform Travel Rule Transaction create'
          example: true
        type:
          type: string
          description: '"type" will tell you if the virtual asset value converted to FIAT value of the withdrawal request is above (=TRAVELRULE) or below (=BELOW_THRESHOLD) the threshold in your jurisdiction. If it is to an unhosted wallet which does not require travel rule information to be sent and only collected, it will say NON_CUSTODIAL.'
          example: TRAVELRULE
        beneficiaryAddressType:
          type: string
          description: '"beneficiaryAddressType" will tell you if your blockchain analytics provider or internal address book has been able to identify the wallet address.'
          example: UNKNOWN
        addressSource:
          type: string
          description: '"addressSource" will tell you if the address was found in your internal address book or identified by the blockchain analytics provider.'
          example: UNKNOWN
        beneficiaryVASPdid:
          type: string
          description: The VASP DID of the beneficiary VASP
          example: did:ethr:0x46a7ed5813ce735387df2bfb245bd7722e0de992
        beneficiaryVASPname:
          type: string
          description: '"beneficiaryVASPname" will tell you the name of the VASP that has been identified as the owner of the wallet address. This name is used in a subsequent call to get its DID.'
          example: Fireblocks
        warnings:
          description: '"errors/warnings" will tell you what information about the beneficiary you need to collect from the sender.'
          example:
          - optional-beneficiaryAccountNumber
          type: array
          items:
            type: string
      required:
      - isValid
      - type
      - beneficiaryAddressType
      - addressSource
      - beneficiaryVASPdid
      - beneficiaryVASPname
      - warnings
    TravelRuleValidateGeographicAddress:
      type: object
      properties:
        streetName:
          type: string
          description: Name of a street or thoroughfare
          example: 123 Main St
        townName:
          type: string
          description: Name of a built-up area, with defined boundaries, and a local government
          example: New York
        country:
          type: string
          description: Nation with its own government (ISO-3166 Alpha-2 country code)
          example: US
        buildingNumber:
          type: string
          description: Number that identifies the position of a building on a street
          example: 123
        postCode:
          type: string
          description: Identifier consisting of a group of letters and/or numbers added to a postal address to assist the sorting of mail
          example: 12345
        addressType:
          type: string
          description: 'Specifies the type of address. Acceptable values are: - ''HOME'': Residential, the home address - ''BIZZ'': Business, the business address - ''GEOG'': Geographic, an unspecified physical (geographical) address'
          enum:
          - HOME
          - BIZZ
          - GEOG
          example: HOME
        department:
          type: string
          description: Identification of a division of a large organisation or building
          example: IT
        subDepartment:
          type: string
          description: Identification of a sub-division of a large organisation or building
          example: Security
        buildingName:
          type: string
          description: Name of the building or house
          example: Acme Building
        floor:
          type: string
          description: Floor or storey within a building
          example: 1
        postBox:
          type: string
          description: Numbered box in a post office
          example: 123
        room:
          type: string
          description: Building room number
          example: 101
        townLocationName:
          type: string
          description: Specific location name within the town
          example: Downtown
        districtName:
          type: string
          description: Identifies a subdivision within a country subdivision
          example: Manhattan
        countrySubDivision:
          type: string
          description: Identifies a subdivision of a country such as state, region, or province
          example: New York
        addressLine:
          type: array
          items:
            type: string
          description: Information that locates and identifies a specific address, presented in free format text
          example:
          - 123 Main St
          - New York
          - NY 12345
    ComplianceScreeningResultFullPayload:
      type: object
      properties:
        provider:
          type: string
        payload:
          type: object
          description: 'The payload of the screening result.

            The payload is a JSON object that contains the screening result.

            The payload is different for each screening provider.

            '
        bypassReason:
          type: string
        screeningStatus:
          type: string
          enum:
          - COMPLETED
          - PENDING
          - BYPASSED
          - FAILED
          - FROZEN
        timestamp:
          type: number
          format: date-time
    TravelRuleTransactionBlockchainInfo:
      type: object
      properties:
        txHash:
          type: string
          description: The hash of the transaction
          example: 66857308435587568925907217391782424136140297125402684115258137778343590111402
        origin:
          type: string
          description: The origin address of the transaction
          example: 841132469470587054656177892491842814721854784787
        destination:
          type: string
          description: The destination address of the transaction
          example: 841132469470587054656177892491842814721854784787
    TravelRuleGeographicAddress:
      type: object
      properties:
        streetName:
          type: string
          description: Name of a street or thoroughfare. The value must be encrypted.
          example: QmZGXXsKPk5iPS97LLjXB5e8Qs555ocdzcpbPMXvt84Ji9
        townName:
          type: string
          description: Name of a built-up area, with defined boundaries, and a local government. The value must be encrypted.
          example: QmNkEt9VdnhjefQMXo3ZaZAs765ugoWiazaqcY9skHMjCt
        country:
          type: string
          description: Nation with its own government (ISO-3166 Alpha-2 country code). The value must be encrypted.
          example: QmRGHdoxQfSi6tevyvaYGzs8BVStfqJqEyrMYqUfzXxkmm
        buildingNumber:
          type: string
          description: Number that identifies the position of a building on a street. The value must be encrypted.
          example: QmUFpNkxdsVtebDSUz5eP51kzoysXmqj2gBgeH11PD7SVP
        postCode:
          type: string
          description: Identifier consisting of a group of letters and/or numbers added to a postal address to assist the sorting of mail. The value must be encrypted.
          example: QmTJsK3sc3fPEVwvAp97UUiVoFhjzQhYX3sCda1JxuCnXj
        addressType:
          type: string
          description: 'Specifies the type of address. Acceptable values are: - ''HOME'': Residential, the home address - ''BIZZ'': Business, the business address - ''GEOG'': Geographic, an unspecified physical (geographical) address The value must be encrypted.'
          example: Qmdr9LcChZsoivS6uAhe7Qk7cGLDAx73wBZTVvq4WoU71H
        department:
          type: string
          description: Identification of a division of a large organisation or building. The value must be encrypted.
          example: QmN7fb65x5MyA7RKyhbXaUKvJ7U4Y9eqpEZTmJYpNyEG8
        subDepartment:
          type: string
          description: Identification of a sub-division of a large organisation or building. The value must be encrypted.
          example: QmTkfyGh54tXNqFxyEGK9NyTJZYpQ6RZ9zpNykxykME8s
        buildingName:
          type: string
          description: Name of the building or house. The value must be encrypted.
          example: QmXJfGk85t6RKyhbXaEK9Nz4MEeMKypq6EY9zpJyC9nM9
        floor:
          type: string
          description: Floor or storey within a building. The value must be encrypted.
          example: QmZP5G7fhZpMyQxXnT9KyR6ybXaEM9zpJy4ME9MkTJGE1
        postBox:
          type: string
          description: Numbered box in a post office. The value must be encrypted.
          example: QmTkfYRGK54xFqXyJYNZyE9kY9zpMKytJnXy5z9EME9sJ
        room:
          type: string
          description: Building room number. The value must be encrypted.
          example: QmRYXnT9KyhbXaEMZpMyxMkZ9zpYNYTJ4ME5kCGE7fhMJ
        townLocationName:
          type: string
          description: Specific location name within the town. The value must be encrypted.
          example: QmNpZTyXJXnT9K6EYZpQxYNYMkC5p4kGEfhnkMJzpYT9Jm
        districtName:
          type: string
          description: Identifies a subdivision within a country subdivision. The value must be encrypted.
          example: QmT9p6ERKyNYXnTyhbpMYJ4zpYT9kMJZT9QmEMGZ5kMhCy
        countrySubDivision:
          type: string
          description: Identifies a subdivision of a country, such as a state, region, or province. The value must be encrypted.
          example: QmK9yTbXaZpMYJYTYp6NT9QmEMGZT9p9kMJfhyGE4Z7k5C
        addressLine:
          type: array
          items:
            type: string
          description: Information that locates and identifies a specific address, presented in free-format text. Each item must be encrypted.
          example:
          - QmNp9kMjfhGZ5kMJzpNYXZTy6NQmZYEMGZ4kZT9Y6pNYT
    TravelRulePolicyRuleResponse:
      type: object
      properties:
        sourceType:
          type: string
        sourceSubType:
          type: string
        destType:
          type: string
        destSubType:
          type: string
        destAddress:
          type: string
        sourceId:
          type: string
        destId:
          type: string
        asset:
          type: string
        baseAsset:
          type: string
        amount:
          type: number
        amountUSD:
          type: number
        networkProtocol:
          type: string
        operation:
          type: string
        action:
          type: string
          enum:
          - SCREEN
          - PASS
          - FREEZE
      required:
      - action
    ErrorSchema:
      type: object
      properties:
        message:
          type: string
        code:
          type: number
    AmlRegistrationResultFullPayload:
      type: object
      properties:
        provider:
          type: string
        success:
          type: boolean
        timestamp:
          type: number
    TravelRulePiiIVMS:
      type: object
      properties:
        originatorPersons:
          type: array
          description: Information about the originator of the transaction
          items:
            $ref: '#/components/schemas/TravelRulePersons'
        beneficiaryPersons:
          type: array
          description: Information about the beneficiary of the transaction
          items:
            $ref: '#/components/schemas/TravelRulePersons'
        accountNumber:
          type: array
          description: Beneficiary account number. The value must be encrypted.
          items:
            type: string
            example: QmNkEt9VdnhjefQMXo3ZaZAs765ugoWiazaqcY9skHMjCt
    AmlVerdictManualRequest:
      type: object
      required:
      - verdict
      - txId
      properties:
        verdict:
          type: string
          enum:
          - ACCEPT
          - REJECT
          description: The AML verdict to set for the transaction.
          example: ACCEPT
        txId:
          type: string
          format: uuid
          description: The transaction ID to set the verdict for.
          example: 550e8400-e29b-41d4-a716-446655440000
    TravelRuleValidateNaturalNameIdentifier:
      type: object
      properties:
        primaryIdentifier:
          type: string
          description: The primary identifier of the name
          example: John
        secondaryIdentifier:
          type: string
          description: The secondary identifier of the name
          example: Doe
        nameIdentifierType:
          type: string
          description: 'Specifies the type of name for a natural person. Acceptable values are: - ''ALIA'': Alias name, a name other than the legal name by which a natural person is also known. - ''BIRT'': Name at birth, the name given to a natural person at birth. - ''MAID'': Maiden name, the original name of a natural person who has changed their name after marriage. - ''LEGL'': Legal name, the name that identifies a natural person for legal, official, or administrative purposes. - ''MISC'': Unspecified, a name by which a natural person may be known but cannot otherwise be categorized.'
          enum:
          - ALIA
          - BIRT
          - MAID
          - LEGL
          - MISC
          example: LEGL
    TravelRuleDateAndPlaceOfBirth:
      type: object
      description: Represents the date and place of birth for a natural person
      properties:
        dateOfBirth:
          type: string
          description: Date of birth. The value must be encrypted.
          example: QmNkEt9VdnhjefQMXo3ZaZAs765ugoWiazaqcY9skHMjCt
        placeOfBirth:
          type: string
          description: Place of birth. The value must be encrypted.
          example: QmNkEt9VdnhjefQMXo3ZaZAs765ugoWiazaqcY9skHMjCt
    TravelRuleValidateLegalPersonNameIdentifier:
      type: object
      properties:
        legalPersonName:
          type: string
          description: Name by which the legal person is known.
          maxLength: 100
          example: Acme Corporation
        legalPersonNameIdentifierType:
          type: string
          description: 'Specifies the type of name for a legal person. Acceptable values are: - ''REGISTERED'': The official registered name. - ''TRADE'': A trading name or DBA (Doing Business As) name. - ''OTHER'': Any other type of name.'
          enum:
          - REGISTERED
          - TRADE
          - OTHER
          example: REGISTERED
    TravelRulePersons:
      type: object
      allOf:
      - $ref: '#/components/schemas/TravelRulePerson'
    TravelRuleValidateDateAndPlaceOfBirth:
      type: object
      description: Represents the date and place of birth for a natural person
      properties:
        dateOfBirth:
          type: string
          description: Date of birth in ISO 8601 format (YYYY-MM-DD)
          example: 1990-01-01
        placeOfBirth:
          type: string
          description: Place of birth (max 70 characters)
          maxLength: 70
          example: New York, USA
    TravelRuleValidatePersons:
      type: object
      allOf:
      - $ref: '#/components/schemas/TravelRuleValidatePerson'
    TravelRuleIssuers:
      type: object
      properties:
        yearFounded:
          $ref: '#/components/schemas/TravelRuleIssuer'
        isRegulated:
          $ref: '#/components/schemas/TravelRuleIssuer'
        regulatoryAuthorities:
          $ref: '#/components/schemas/TravelRuleIssuer'
        name:
          $ref: '#/components/schemas/TravelRuleIssuer'
        logo:
          $ref: '#/components/schemas/TravelRuleIssuer'
        website:
          $ref: '#/components/schemas/TravelRuleIssuer'
        legalName:
          $ref: '#/components/schemas/TravelRuleIssuer'
        legalStructure:
          $ref: '#/components/schemas/TravelRuleIssuer'
        incorporationCountry:
          $ref: '#/components/schemas/TravelRuleIssuer'
        businessNumber:
          $ref: '#/components/schemas/TravelRuleIssuer'
        addressLine1:
          $ref: '#/components/schemas/TravelRuleIssuer'
        city:
          $ref: '#/components/schemas/TravelRuleIssuer'
        country:
          $ref: '#/components/schemas/TravelRuleIssuer'
        description:
          $ref: '#/components/schemas/TravelRuleIssuer'
      required:
      - yearFounded
      - isRegulated
      - regulatoryAuthorities
      - name
      - logo
      - website
      - legalName
      - legalStructure
      - incorporationCountry
      - businessNumber
      - addressLine1
      - city
      - country
      - description
    TravelRuleValidateTransactionRequest:
      type: object
      properties:
        transactionAsset:
          type: string
          example: BTC
          description: Transaction asset symbol BTC,ETH)
        destination:
          type: string
          example: bc1qxy2kgdygjrsqtzq2n0yrf1234p83kkfjhx0wlh
          description: Transaction destination address
        transactionAmount:
          type: string
          example: '10'
          description: Transaction amount in the transaction asset
        originatorVASPdid:
          type: string
          example: did:ethr:0x44957e75d6ce4a5bf37aae117da86422c848f7c2
          description: This is the identifier assigned to your VASP
        originatorEqualsBeneficiary:
          type: boolean
          example: false
          description: '"True" if the originator and beneficiary is the same person and you therefore do not need to collect any information. "False" if it is a third-party transfer.'
        travelRuleBehavior:
          type: boolean
          example: true
          description: This will also check if the transaction is a TRAVEL_RULE in the beneficiary VASP's jurisdiction
        beneficiaryVASPdid:
          type: string
          example: did:ethr:0x46a7ed5813ce735387df2bfb245bd7722e0de992
          description: This is the identifier assigned to the VASP the funds are being sent to
        beneficiaryVASPname:
          type: string
          example: HelloCrypto
          description: Beneficiary VASP name
        beneficiaryName:
          type: string
          example: John Doe
          description: Beneficiary  name
        beneficiaryAccountNumber:
          type: string
          example: 1234-1234-1234-12234
          description: Beneficiary  name
        beneficiaryAddress:
          example: '{"addressLine: [Wayne Manor, Gotham City, New York, USA]"}'
          description: Beneficiary  name
          allOf:
          - $ref: '#/components/schemas/TravelRuleAddress'
      required:
      - transactionAsset
      - destination
      - transactionAmount
      - originatorVASPdid
      - originatorEqualsBeneficiary
    TravelRuleLegalPerson:
      type: object
      properties:
        name:
          type: object
          allOf:
          - $ref: '#/components/schemas/TravelRuleLegalPersonNameIdentifier'
          description: The structured name of the legal person, referencing name identifiers.
        geographicAddress:
          type: array
          items:
            $ref: '#/components/schemas/TravelRuleGeographicAddress'
          description: The array of geographic addresses associated with the legal person.
        nationalIdentification:
          $ref: '#/components/schemas/TravelRuleNationalIdentification'
        customerIdentification:
          type: string
          description: A unique identifier that identifies the customer in the organization's context. The value must be encrypted.
          example: QmRY9AA4Uit2JRTxDzfzshrJdTK86Kf5HriA3dXDnihDmy
        customerNumber:
          type: string
          description: A distinct identifier that uniquely identifies the customer within the organization. The value must be encrypted.
          example: QmXvyML3AJUFpBbJqL5NVp7Vn7xNkuedTsSMk93duLCNW8
        countryOfRegistration:
          type: string
          description: The ISO-3166 Alpha-2 country code where the legal person is registered. The value must be encrypted.
          example: QmeoTk6UPruEAYNbJEAHdQYc53ap9BXmpnPMcuvs8wutdr
    TravelRuleValidateNaturalPerson:
      type: object
      properties:
        name:
          type: array
          items:
            $ref: '#/components/schemas/TravelRuleValidateNaturalPersonNameIdentifier'
          description: An array of structured name identifiers for the natural person, referencing the TravelRuleNaturalPersonNameIdentifier schema.
        geographicAddress:
          type: array
          items:
            $ref: '#/components/schemas/TravelRuleValidateGeographicAddress'
          description: An array of geographic addresses associated with the natural person, referencing the TravelRuleGeographicAddress schema.
        nationalIdentification:
          $ref: '#/components/schemas/TravelRuleValidateNationalIdentification'
        dateAndPlaceOfBirth:
          allOf:
          - $ref: '#/components/schemas/TravelRuleValidateDateAndPlaceOfBirth'
          description: The date and place of birth of the natural person, referencing the TravelRuleDateAndPlaceOfBirth schema.
        customerIdentification:
          type: string
          description: A unique identifier for the customer within the organization's context.
          example: CUST123456
        countryOfResidence:
          type: string
          description: The ISO-3166 Alpha-2 country code of the natural person's residence.
          example: US
        customerNumber:
          type: string
          description: A distinct identifier that uniquely identifies the customer within the organization.
          example: 123456789
    TravelRuleLegalPersonNameIdentifier:
      type: object
      properties:
        legalPersonName:
          type: string
          description: Name by which the legal person is known. The value must be encrypted.
          example: QmVXXj5BJchhqQTU27uEkeghYMnxR6aVjZxJP9jS6uCg9Q
        legalPersonNameIdentifierType:
          type: string
          description: 'Specifies the type of name for a legal person. Acceptable values are: - ''REGISTERED'': The official registered name. - ''TRADE'': A trading name or DBA (Doing Business As) name. - ''OTHER'': Any other type of name. The value must be encrypted.'
          example: QmPevsa5xdkxf6Lgt7f9YweRBdgseeAkWVaYyssKF3Q86e
    ComplianceResultFullPayload:
      type: object
      description: The result of the Compliance AML/Travel Rule screening.
      properties:
        aml:
          type: object
          description: The end result of the AML screening.
          items:
            $ref: '#/components/schemas/ComplianceScreeningResultFullPayload'
        tr:
          type: object
          description: The result of the Travel Rule screening.
          items:
            $ref: '#/components/schemas/ComplianceScreeningResultFullPayload'
        amlList:
          type: array
          description: The list of all results of the AML screening.
          items:
            $ref: '#/components/schemas/ComplianceScreeningResultFullPayload'
        status:
          type: string
          description: Status of compliance result screening.
          enum:
          - Started
          - NetworkConnectionAddressResolve
          - ScreeningPrepare
          - AMLStarted
          - AMLCompleted
          - AMLFailed
          - AMLInBackground
          - TRPreconditionChecks
          - TRStarted
          - TRCompleted
          - TRFailed
          - Completed
          - IncomingStarted
          - IncomingScreeningPrepare
          - IncomingWaitForFirstConfirmation
          - AMLIncomingStarted
          - AMLIncomingCompleted
          - AMLIncomingFailed
          - AMLIncomingInBackground
          - TRIncomingStarted
          - TRIncomingCompleted
          - TRIncomingFailed
          - IncomingCompleted
        amlRegistration:
          type: object
          description: The results of the AML address registration.
          items:
            $ref: '#/components/schemas/AmlRegistrationResultFullPayload'
    TravelRuleValidateNationalIdentification:
      type: object
      description: Represents a national identifier for a person or entity
      properties:
        countryOfIssue:
          type: string
          description: Country that issued the national identifier (ISO-3166 Alpha-2 country code)
          example: US
        nationalIdentifier:
          type: string
          description: National identifier (max 35 characters)
          maxLength: 35
          example: 123456789
        nationalIdentifierType:
          type: string
          description: 'Type of national identifier. Acceptable values include: - ''PASSPORT'': Passport number - ''NATIONAL_ID'': National identification number - ''TAX_ID'': Tax identification number - ''SOCIAL_SECURITY'': Social security number'
          enum:
          - PASSPORT
          - NATIONAL_ID
          - TAX_ID
          - SOCIAL_SECURITY
          example: NATIONAL_ID
        registrationAuthority:
          type: string
          description: Registration authority (format -> RA followed by 6 digits)
          pattern: ^RA\d{6}$
          example: RA123456
    TravelRuleValidateNaturalPersonNameIdentifier:
      type: object
      properties:
        nameIdentifier:
          type: array
          items:
            $ref: '#/components/schemas/TravelRuleValidateNaturalNameIdentifier'
        localNameIdentifier:
          type: array
          items:
            $ref: '#/components/schemas/TravelRuleValidateNaturalNameIdentifier'
        phoneticNameIdentifier:
          type: array
          items:
            $ref: '#/components/schemas/TravelRuleValidateNaturalNameIdentifier'
    TravelRuleValidateLegalPerson:
      type: object
      properties:
        name:
          type: object
          allOf:
          - $ref: '#/components/schemas/TravelRuleValidateLegalPersonNameIdentifier'
          description: The structured name of the legal person, referencing name identifiers.
        geographicAddress:
          type: array
          items:
            $ref: '#/components/schemas/TravelRuleValidateGeographicAddress'
          description: The array of geographic addresses associated with the legal person.
        nationalIdentification:
          $ref: '#/components/schemas/TravelRuleValidateNationalIdentification'
        customerIdentification:
          type: string
          description: A unique identifier that identifies the customer in the organization's context.
          example: CUST987654
        customerNumber:
          type: string
          description: A distinct identifier that uniquely identifies the customer within the organization.
          example: 123456789
        countryOfRegistration:
          type: string
          description: The ISO-3166 Alpha-2 country code where the legal person is registered.
          example: US
    TravelRuleValidatePiiIVMS:
      type: object
      properties:
        originatorPersons:
          type: array
          description: Information about the originator of the transaction
          items:
            $ref: '#/components/schemas/TravelRuleValidatePersons'
        beneficiaryPersons:
          type: array
          description: Information about the beneficiary of the transaction
          items:
            $ref: '#/components/schemas/TravelRuleValidatePersons'
        accountNumber:
          type: array
          description: Beneficiary account number
          items:
            type: string
    TravelRuleOwnershipProof:
      type: object
      properties:
        type:
          type: string
          description: 'The type of ownership proof. Example values: - `eip-191`: Ethereum signature proof - `eip-712`: Ethereum typed data signature proof - `bip-137`: Bitcoin signature proof - `microtransfer`: Microtransaction (Satoshi test) - `screenshot`: Uploaded screenshot of the wallet - `self-declaration`: Checkbox attestation of ownership'
          example: eip-191
        proof:
          type: string
          description: 'The cryptographic signature, transaction hash, or other proof depending on the type. Examples: - For `eip-191`: `0x3dd4a17a...ce4a2bcd1b` - For `microtransfer`: The transaction hash `H3V8GXBy39Dz...tr3TSTkY=`'
          example: 0x3dd4a17a...ce4a2bcd1b
        attestation:
          type: string
          description: 'A human-readable statement of wallet ownership. Required for signature proofs and self-declarations. Examples: - `I certify that ETH account 0x896B...0b9b belongs to me.` - `I hereby declare that the blockchain address 0xa437bEed902AF9338B7DEB23848e195d85019510 is under my control.`'
          example: I certify that ETH account 0x896B...0b9b belongs to me.
        address:
          type: string
          description: 'The wallet address being verified. Examples: - For Ethereum: `0x896B...0b9b` - For Bitcoin: `1442...dxhsQ`'
          example: 0x896B...0b9b
        wallet_provider:
          type: string
          description: 'The wallet provider or method used for verification. Examples: - For Metamask: `Metamask` - For manual signature: `manual`'
          example: Metamask
        url:
          type: string
          description: 'The URL for the uploaded screenshot (for `screenshot` proof types only). Example: `https://example.com/uploaded_image.png`'
          example: https://example.com/uploaded_image.png
        confirmed:
          type: boolean
          description: 'Whether the user confirmed ownership of the wallet (for `self-declaration` proofs). Example: `true`'
          example: true
    SystemMessageInfo:
      type: object
      properties:
        type:
          type: string
          enum:
          - WARN
          - BLOCK
        message:
          type: string
          description: A response from Fireblocks that communicates a message about the health of the process being performed. If this object is returned with data, you should expect potential delays or incomplete transaction statuses.
          example: Slow transaction processing. Outgoing transactions might be stuck.
    ScreeningConfigurationsRequest:
      type: object
      properties:
        bypassScreeningDuringServiceOutages:
          type: boolean
          description: Flag to enable or disable bypass screening during service outages.
        inboundTransactionDelay:
          type: number
          description: Inbound transaction delay in seconds.
        outboundTransactionDelay:
          type: number
          description: Outbound transaction delay in seconds.
    TravelRuleNaturalNameIdentifier:
      type: object
      properties:
        primaryIdentifier:
          type: string
          description: The primary identifier of the name. The value must be encrypted.
          example: QmP6wx8bx3SVNG3hd3SZKnS5pDjUan4y9H1VtyRqu7tsAv
        secondaryIdentifier:
          type: string
          description: The secondary identifier of the name. The value must be encrypted.
          example: QmP6wx8bx3SVNG3hd3SZKnS5pDjUan4y9H1VtyRqu7tsAv
        nameIdentifierType:
          type: string
          description: 'The type of the name identifier. The value must be encrypted. The value must be one of the following: [LEGL, DBA, TRAD, NICK, ALIA, MAID, FORM, PREV, BORN, OTHR].'
          example: QmP6wx8bx3SVNG3hd3SZKnS5pDjUan4y9H1VtyRqu7tsAv
    TravelRuleNaturalPersonNameIdentifier:
      type: object
      properties:
        nameIdentifier:
          type: array
          items:
            $ref: '#/components/schemas/TravelRuleNaturalNameIdentifier'
        localNameIdentifier:
          type: array
          items:
            $ref: '#/components/schemas/TravelRuleNaturalNameIdentifier'
        phoneticNameIdentifier:
          type: array
          items:
            $ref: '#/components/schemas/TravelRuleNaturalNameIdentifier'
  responses:
    Error:
      description: Error Response
      headers:
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorSchema'
  parameters:
    X-Idempotency-Key:
      name: Idempotency-Key
      in: header
      description: A unique identifier for the request. If the request is sent multiple times with the same idempotency key, the server will return the same response as the first request. The idempotency key is valid for 24 hours.
      required: false
      schema:
        type: string
        example: some-unique-id
  securitySchemes:
    bearerTokenAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
